In [17]:
# pip install pandas
# pip install sqlalchemy

import pandas as pd
from sqlalchemy import create_engine, inspect

# Database connection parameters
DB_HOST     = '127.0.0.1'
DB_PORT     = '5433'        # <-- your Docker host port
DB_NAME     = 'knowthee'
DB_USER     = 'postgres'
DB_PASSWORD = 'postgres'

# Create connection URL and engine
DATABASE_URL = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine = create_engine(DATABASE_URL)

# Inspect database to get table names
inspector = inspect(engine)
tables = inspector.get_table_names()

# Loop through each table and display first 5 rows
for table in tables:
    print(f"\n### Table: {table}")
    df = pd.read_sql(f"SELECT * FROM {table} LIMIT 5;", engine)
    display(df)

### Table: employees

,id,full_name,email,location,current_position,department,created_at,updated_at
0,f0403747-10d3-4922-9889-304a09d50212,Aaliyah Anderson,aanderson@yahoo.com,"Jacksonville, FL",,,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
1,afb67828-fc8c-4a23-9beb-3c8726904285,Aaliyah Williams,aaliyah.williams@gmail.com,"San Antonio, TX",,,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00
2,7092bc9a-fc3e-45be-a8da-1cf145ff3516,Aaliyah Wilson,awilson@outlook.com,"Jacksonville, FL",,,2025-06-18 08:36:28.908297+00:00,2025-06-18 08:36:28.908297+00:00
3,c35ddca6-dec0-456c-967d-36212744dcc0,Ahmed Al-Ahmad,ahmedal-ahmad@yahoo.com,,,,2025-06-18 08:36:28.919962+00:00,2025-06-18 08:36:28.919962+00:00
4,13272be5-5fe3-4338-9831-14e29d140533,Ahmed Farouk,afarouk@gmail.com,"New York, NY",,,2025-06-18 08:36:28.928874+00:00,2025-06-18 08:36:28.928874+00:00

### Table: employee_contacts

,id,employee_id,type,value,is_primary,created_at,updated_at
0,ca279f01-61f0-4c56-8e2c-958d31506125,f0403747-10d3-4922-9889-304a09d50212,email,aanderson@yahoo.com,True,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
1,a29db906-af34-4985-815f-3559dd27d0e9,f0403747-10d3-4922-9889-304a09d50212,phone,(585) 704-8170,True,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
2,a93786b1-295c-4126-8ba7-376248782c54,afb67828-fc8c-4a23-9beb-3c8726904285,email,aaliyah.williams@gmail.com,True,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00
3,dbc29558-b60b-4f2f-a367-77674a22be4c,afb67828-fc8c-4a23-9beb-3c8726904285,phone,(616) 235-8448,True,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00
4,6b8e5ed0-57de-4097-ac9f-13b9b46436b0,afb67828-fc8c-4a23-9beb-3c8726904285,linkedin,linkedin.com/in/aaliyah-williams-841,False,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00

### Table: employee_education

,id,employee_id,degree,field,institution,start_date,end_date,created_at,updated_at
0,9426fd0e-9962-46d7-b693-200425871749,f0403747-10d3-4922-9889-304a09d50212,,,Princeton University,2020-01-01,None,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
1,5b0c2fd6-e233-4a5c-a016-6024e42256b4,f0403747-10d3-4922-9889-304a09d50212,,,Ohio State University,2016-01-01,None,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
2,d7f7c30c-074c-4ecf-bca7-40a9285aef7d,afb67828-fc8c-4a23-9beb-3c8726904285,,,Cornell University,1998-01-01,None,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00
3,d84c3dbc-2197-4c70-bff2-59261979cf67,afb67828-fc8c-4a23-9beb-3c8726904285,,,Georgia Institute of Technology,1994-01-01,None,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00
4,0042830f-4ab4-4cab-ad25-c67570cc7f52,c35ddca6-dec0-456c-967d-36212744dcc0,,,Princeton University,2019-01-01,None,2025-06-18 08:36:28.919962+00:00,2025-06-18 08:36:28.919962+00:00

### Table: idi_scores

,id,assessment_id,category,dimension,score,created_at,updated_at
0,2f1df7da-2d21-4bb8-b082-f00ff31707b0,c9c2fce7-dd65-40c2-8993-0fa2a74b0886,AFFILIATING,Giving,25,2025-06-18 08:36:32.887708+00:00,2025-06-18 08:36:32.887708+00:00
1,65fe3e15-04a7-4247-aca5-7b2cad1e64a6,c9c2fce7-dd65-40c2-8993-0fa2a74b0886,AFFILIATING,Receiving,40,2025-06-18 08:36:32.887708+00:00,2025-06-18 08:36:32.887708+00:00
2,e9d9789d-d6ee-41c3-851d-7efda055f6af,c9c2fce7-dd65-40c2-8993-0fa2a74b0886,AFFILIATING,Belonging,75,2025-06-18 08:36:32.887708+00:00,2025-06-18 08:36:32.887708+00:00
3,330b10b4-216a-41b0-ba97-f9be0bd5b68a,c9c2fce7-dd65-40c2-8993-0fa2a74b0886,AFFILIATING,Expressing,50,2025-06-18 08:36:32.887708+00:00,2025-06-18 08:36:32.887708+00:00
4,78d83a48-15a9-4e63-8bd2-1ed99c3954f7,c9c2fce7-dd65-40c2-8993-0fa2a74b0886,ATTRACTING,Stature,20,2025-06-18 08:36:32.887708+00:00,2025-06-18 08:36:32.887708+00:00

### Table: employee_experiences

,id,employee_id,title,company,start_date,end_date,description,created_at,updated_at
0,43860bff-1bcd-4b34-81a5-e14963fe7273,f0403747-10d3-4922-9889-304a09d50212,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
1,dc904684-5bf5-434a-a165-efb82e3dda0c,f0403747-10d3-4922-9889-304a09d50212,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
2,561b47c6-5f7b-4c24-a1ff-cd1569643334,f0403747-10d3-4922-9889-304a09d50212,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
3,e805e719-ed55-4ebf-9134-7e90d69a7dc8,f0403747-10d3-4922-9889-304a09d50212,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
4,dc35465a-9725-4c09-8724-0555667b8241,7092bc9a-fc3e-45be-a8da-1cf145ff3516,Bookkeeper,Yale University,2022-01-01,None,Performed due diligence for $378K M&A transact...,2025-06-18 08:36:28.908297+00:00,2025-06-18 08:36:28.908297+00:00

### Table: employee_skills

,id,employee_id,skill,type,created_at,updated_at
0,eeba3690-46f5-4218-b2a8-6c1da57820d2,de1ba4e9-f926-49d7-81a7-935971a471a3,Jira,technical,2025-06-18 08:36:29.295082+00:00,2025-06-18 08:36:29.295082+00:00
1,e440fe87-504b-436e-953b-08684eadbe44,de1ba4e9-f926-49d7-81a7-935971a471a3,React,technical,2025-06-18 08:36:29.295082+00:00,2025-06-18 08:36:29.295082+00:00
2,cd9ca026-6228-47ee-9917-f53c6093be9c,de1ba4e9-f926-49d7-81a7-935971a471a3,SVN,technical,2025-06-18 08:36:29.295082+00:00,2025-06-18 08:36:29.295082+00:00
3,b762de43-cc0b-4b00-a95b-4aac4643a166,de1ba4e9-f926-49d7-81a7-935971a471a3,DynamoDB,technical,2025-06-18 08:36:29.295082+00:00,2025-06-18 08:36:29.295082+00:00
4,8198bdad-f5ff-4d66-a143-36602e0d8f62,de1ba4e9-f926-49d7-81a7-935971a471a3,Python,technical,2025-06-18 08:36:29.295082+00:00,2025-06-18 08:36:29.295082+00:00

### Table: employee_assessments

,id,employee_id,assessment_type,assessment_date,source_filename,status,notes,created_at,updated_at
0,3e92bf13-e558-473c-b615-9fe2c6272ff4,f0403747-10d3-4922-9889-304a09d50212,Hogan,2025-05-08,Hogan_Aaliyah_Anderson.txt,active,None,2025-06-18 08:36:31.286442+00:00,2025-06-18 08:36:31.288023+00:00
1,bbbe98b6-1184-45f5-b12b-adf28f1af576,afb67828-fc8c-4a23-9beb-3c8726904285,Hogan,2025-04-12,Hogan_Aaliyah_Williams.txt,active,None,2025-06-18 08:36:31.297998+00:00,2025-06-18 08:36:31.298544+00:00
2,2bf9d0f4-1ee8-40ed-9833-2af37d61cb45,7092bc9a-fc3e-45be-a8da-1cf145ff3516,Hogan,2025-05-19,Hogan_Aaliyah_Wilson.txt,active,None,2025-06-18 08:36:31.306136+00:00,2025-06-18 08:36:31.307059+00:00
3,3dda34ad-e1c5-4ae1-a576-066778b470c5,c35ddca6-dec0-456c-967d-36212744dcc0,Hogan,2025-01-02,Hogan_Ahmed_Al-Ahmad.txt,active,None,2025-06-18 08:36:31.314578+00:00,2025-06-18 08:36:31.315153+00:00
4,482df4f9-8b64-49cb-828a-f0e1b8e25c87,13272be5-5fe3-4338-9831-14e29d140533,Hogan,2025-05-15,Hogan_Ahmed_Farouk.txt,active,None,2025-06-18 08:36:31.322934+00:00,2025-06-18 08:36:31.323581+00:00

### Table: hogan_scores

,id,assessment_id,trait,score,created_at,updated_at
0,e7abc791-e233-494d-8775-45dd95c9e78d,3e92bf13-e558-473c-b615-9fe2c6272ff4,May,8,2025-06-18 08:36:31.286442+00:00,2025-06-18 08:36:31.286442+00:00
1,c7c0246d-6ecb-4b3f-bbf1-19f89373554d,3e92bf13-e558-473c-b615-9fe2c6272ff4,Adjustment,57,2025-06-18 08:36:31.286442+00:00,2025-06-18 08:36:31.286442+00:00
2,0b275dac-325c-48f5-8ffd-b6e60825e049,3e92bf13-e558-473c-b615-9fe2c6272ff4,Ambition,30,2025-06-18 08:36:31.286442+00:00,2025-06-18 08:36:31.286442+00:00
3,c7055916-9250-4a84-be20-e03dd45353c3,3e92bf13-e558-473c-b615-9fe2c6272ff4,Sociability,86,2025-06-18 08:36:31.286442+00:00,2025-06-18 08:36:31.286442+00:00
4,a5e57932-9dbe-46e9-82af-f11dc2d67626,3e92bf13-e558-473c-b615-9fe2c6272ff4,Interpersonal Sensitivity,79,2025-06-18 08:36:31.286442+00:00,2025-06-18 08:36:31.286442+00:00

### Table: embedding_runs

,id,name,chunking_method,embedding_model,run_parameters,created_at,updated_at
0,8451c596-e1a7-4b94-b07f-9fdd4464835e,Run_20250618_083640,cv,text-embedding-3-small,None,2025-06-18 08:36:40.114545+00:00,2025-06-18 08:36:40.114545+00:00

### Table: employee_cvs

,id,employee_id,filename,upload_date,source,created_at,updated_at
0,22b39928-99e6-4c51-a9ef-5745638b00fc,f0403747-10d3-4922-9889-304a09d50212,CV_Aaliyah_Anderson.txt,2025-06-18 08:36:28.882773+00:00,manual_upload,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
1,06f01c41-c375-4cb1-8507-a0a160030f33,afb67828-fc8c-4a23-9beb-3c8726904285,CV_Aaliyah_Williams.txt,2025-06-18 08:36:28.899665+00:00,manual_upload,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00
2,524115cc-6bc7-4001-96c3-a00bfe08dbec,7092bc9a-fc3e-45be-a8da-1cf145ff3516,CV_Aaliyah_Wilson.txt,2025-06-18 08:36:28.908297+00:00,manual_upload,2025-06-18 08:36:28.908297+00:00,2025-06-18 08:36:28.908297+00:00
3,621987c7-682e-4e0a-9305-4f157a7d3e25,c35ddca6-dec0-456c-967d-36212744dcc0,CV_Ahmed_Al-Ahmad.txt,2025-06-18 08:36:28.919962+00:00,manual_upload,2025-06-18 08:36:28.919962+00:00,2025-06-18 08:36:28.919962+00:00
4,eccb90b2-b64f-4717-b381-a6b7bae44acf,13272be5-5fe3-4338-9831-14e29d140533,CV_Ahmed_Farouk.txt,2025-06-18 08:36:28.928874+00:00,manual_upload,2025-06-18 08:36:28.928874+00:00,2025-06-18 08:36:28.928874+00:00

### Table: embedding_chunks

,id,external_document_id,chunk_index,content,embedding,token_count,char_count,chunk_label,score,created_at,updated_at
0,bd76c025-0adb-4263-9035-5fd58df406ab,b3bebc7f-1a58-4d60-a53b-56c39bac0bfd,0,Name: Antoine Jones\nEmail: ajones@yahoo.com\n...,"[-0.021413742,-0.007978582,0.020122796,-0.0002...",None,None,None,None,2025-06-18 08:36:40.134783+00:00,2025-06-18 08:36:40.134783+00:00
1,8a09c875-56cd-4e01-b4c9-7d6c0c9f2868,b3bebc7f-1a58-4d60-a53b-56c39bac0bfd,1,Engineering Intern | Roche\nOct 2015 - Apr 201...,"[-0.027867414,-0.019719196,0.052235436,0.00101...",None,None,None,None,2025-06-18 08:36:40.134783+00:00,2025-06-18 08:36:40.134783+00:00
2,bda94b2d-b5cf-4d16-9d9b-c4870165b14d,b3bebc7f-1a58-4d60-a53b-56c39bac0bfd,2,Research Assistant | Warner Bros\nApr 2011 - J...,"[0.0010363123,-0.006886853,0.047682468,-0.0168...",None,None,None,None,2025-06-18 08:36:40.134783+00:00,2025-06-18 08:36:40.134783+00:00
3,c12ece37-5911-4a11-812f-4eda1ce1c10a,b3bebc7f-1a58-4d60-a53b-56c39bac0bfd,3,Sales Associate | Honeywell\nAug 2012 - Feb 20...,"[-0.015957437,-0.02366195,0.025909102,0.012880...",None,None,None,None,2025-06-18 08:36:40.134783+00:00,2025-06-18 08:36:40.134783+00:00
4,3af716b9-f794-4d5a-b849-1072394bb46e,86bcdf75-e00d-4f29-bead-ffd986862294,0,Name: Ashley Davis\nEmail: ashley.davis@hotmai...,"[0.01213072,-0.023697218,0.07212197,0.05269319...",None,None,None,None,2025-06-18 08:36:41.913149+00:00,2025-06-18 08:36:41.913149+00:00

### Table: embedding_documents

,id,employee_id,embedding_run_id,document_type,source_filename,title,external_document_id,parsed_source_id,source_type,created_at,updated_at
0,19afe36c-46f0-4f71-8f61-aa510f34895e,04a08a5f-7b96-4d8d-b28c-a2bc893fbf84,8451c596-e1a7-4b94-b07f-9fdd4464835e,cv,CV_Antoine_Jones.txt,None,b3bebc7f-1a58-4d60-a53b-56c39bac0bfd,None,cv,2025-06-18 08:36:40.141137+00:00,2025-06-18 08:36:40.141137+00:00
1,11af16dd-1d21-409b-b3dc-27e21f857b76,3c1398af-34de-43a1-9e78-736e6b3293f4,8451c596-e1a7-4b94-b07f-9fdd4464835e,cv,CV_Ashley_Davis.txt,None,86bcdf75-e00d-4f29-bead-ffd986862294,None,cv,2025-06-18 08:36:41.915636+00:00,2025-06-18 08:36:41.915638+00:00
2,75ba294b-44c6-4385-b873-6fe2c485bbbd,acbeb6e6-e48f-44b4-8177-24af6f91c31b,8451c596-e1a7-4b94-b07f-9fdd4464835e,assessment,Hogan_Terrell_Davis.txt,None,730f48d7-1331-4a84-bc79-e90baf8a2656,None,assessment,2025-06-18 08:36:43.038776+00:00,2025-06-18 08:36:43.038778+00:00
3,7ab984d8-1a72-40da-bd5f-29c5c3e190ab,72d08520-4fd9-4293-a554-a52c8d20ad03,8451c596-e1a7-4b94-b07f-9fdd4464835e,assessment,IDI_Amanda_Miller.txt,None,6aff542b-46a2-4795-b93a-b581f1617f28,None,assessment,2025-06-18 08:36:43.508657+00:00,2025-06-18 08:36:43.508657+00:00
4,db5b45a0-3adf-4551-80bd-1ce17795a9ef,53665c6f-fda5-4ee6-ad38-77c4394c50af,8451c596-e1a7-4b94-b07f-9fdd4464835e,assessment,Hogan_DeShawn_Brown.txt,None,6bb184c0-f9ed-46c8-98df-cfdadd7032d1,None,assessment,2025-06-18 08:36:43.752399+00:00,2025-06-18 08:36:43.752400+00:00