In [6]:
import pandas as pd
from sqlalchemy import create_engine, inspect

# Database connection parameters
DB_HOST     = '127.0.0.1'
DB_PORT     = '5433'        # <-- your Docker host port
DB_NAME     = 'knowthee'
DB_USER     = 'postgres'
DB_PASSWORD = 'postgres'

# Create connection URL and engine
DATABASE_URL = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine = create_engine(DATABASE_URL)

# Inspect database to get table names
inspector = inspect(engine)
tables = inspector.get_table_names()

# Loop through each table and display first 5 rows
for table in tables:
    print(f"\n### Table: {table}")
    df = pd.read_sql(f"SELECT * FROM {table} LIMIT 5;", engine)
    display(df)

### Table: employees

Empty DataFrame
Columns: [id, tenant_id, employee_id, name, department, position, manager_id, hire_date, years_experience, education_level, location, status, created_at, updated_at]
Index: []

### Table: employee_contacts

Empty DataFrame
Columns: [id, employee_id, type, value]
Index: []

### Table: employee_education

Empty DataFrame
Columns: [id, employee_id, institution, degree, start_year, end_year]
Index: []

### Table: employee_experiences

Empty DataFrame
Columns: [id, employee_id, company, title, start_date, end_date, responsibilities, sort_order]
Index: []

### Table: assessment_types

Empty DataFrame
Columns: [id, code, name]
Index: []

### Table: assessment_metrics

Empty DataFrame
Columns: [id, type_id, code, label]
Index: []

### Table: employee_assessments

Empty DataFrame
Columns: [id, employee_id, type_id, assessment_date, tenant_id, created_at]
Index: []

### Table: employee_assessment_scores

Empty DataFrame
Columns: [id, assessment_id, metric_id, value]
Index: []

### Table: document_embeddings

Empty DataFrame
Columns: [id, employee_id, doc_type, document_id, content, embedding, metadata, tenant_id, created_at]
Index: []