In [30]:
# pip install pandas
# pip install sqlalchemy

import pandas as pd
from sqlalchemy import create_engine, inspect, text

# Database connection parameters
DB_HOST     = '127.0.0.1'
DB_PORT     = '5433'        # <-- your Docker host port
DB_NAME     = 'knowthee'
DB_USER     = 'postgres'
DB_PASSWORD = 'postgres'

# Create connection URL and engine
DATABASE_URL = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine = create_engine(DATABASE_URL)

# Inspect database to get table names
inspector = inspect(engine)
tables = inspector.get_table_names()

# Loop through each table and display first 5 rows
for table in tables:
    print(f"\n### Table: {table}")
    df = pd.read_sql(f"SELECT * FROM {table} LIMIT 5;", engine)
    display(df)

### Table: employees

,id,full_name,email,location,current_position,department,created_at,updated_at
0,43f53ad5-75ed-4e8d-9a74-e99e7b9b85a4,Aaliyah Anderson,aanderson@yahoo.com,"Jacksonville, FL",,,2025-06-19 11:12:02.971978+00:00,2025-06-19 11:12:02.971978+00:00
1,e4b0d184-75c6-4e25-9f3f-f3db80ec0486,Aaliyah Williams,aaliyah.williams@gmail.com,"San Antonio, TX",,,2025-06-19 11:12:02.991602+00:00,2025-06-19 11:12:02.991602+00:00
2,1356af81-8b19-4aaa-a2fd-3320f676be56,Aaliyah Wilson,awilson@outlook.com,"Jacksonville, FL",,,2025-06-19 11:12:03.003441+00:00,2025-06-19 11:12:03.003441+00:00
3,c0a19d35-9a94-45dc-a6e4-99a651308f63,Ahmed Al-Ahmad,ahmedal-ahmad@yahoo.com,,,,2025-06-19 11:12:03.017680+00:00,2025-06-19 11:12:03.017680+00:00
4,cd771b52-be8a-4dbe-b2d4-01b3cb97ae46,Ahmed Farouk,afarouk@gmail.com,"New York, NY",,,2025-06-19 11:12:03.029788+00:00,2025-06-19 11:12:03.029788+00:00

### Table: employee_cvs

,id,employee_id,filename,upload_date,source,created_at,updated_at
0,49bb8c94-4321-47be-95b5-c644752e08e1,43f53ad5-75ed-4e8d-9a74-e99e7b9b85a4,CV_Aaliyah_Anderson.txt,2025-06-19 11:12:02.971978+00:00,manual_upload,2025-06-19 11:12:02.971978+00:00,2025-06-19 11:12:02.971978+00:00
1,10f6df8a-65a0-47b1-a1ba-b6033559e1d1,e4b0d184-75c6-4e25-9f3f-f3db80ec0486,CV_Aaliyah_Williams.txt,2025-06-19 11:12:02.991602+00:00,manual_upload,2025-06-19 11:12:02.991602+00:00,2025-06-19 11:12:02.991602+00:00
2,6a6865d0-2cf0-48a2-90df-39456393e65e,1356af81-8b19-4aaa-a2fd-3320f676be56,CV_Aaliyah_Wilson.txt,2025-06-19 11:12:03.003441+00:00,manual_upload,2025-06-19 11:12:03.003441+00:00,2025-06-19 11:12:03.003441+00:00
3,4c27601e-c814-46cd-81c9-4c032247fbb9,c0a19d35-9a94-45dc-a6e4-99a651308f63,CV_Ahmed_Al-Ahmad.txt,2025-06-19 11:12:03.017680+00:00,manual_upload,2025-06-19 11:12:03.017680+00:00,2025-06-19 11:12:03.017680+00:00
4,f069ecd2-d80f-4010-8b53-f2f7a72eeaa5,cd771b52-be8a-4dbe-b2d4-01b3cb97ae46,CV_Ahmed_Farouk.txt,2025-06-19 11:12:03.029788+00:00,manual_upload,2025-06-19 11:12:03.029788+00:00,2025-06-19 11:12:03.029788+00:00

### Table: employee_contacts

,id,employee_id,type,value,is_primary,created_at,updated_at
0,e306a7b7-9928-4169-8e02-7de481d5fa9e,43f53ad5-75ed-4e8d-9a74-e99e7b9b85a4,email,aanderson@yahoo.com,True,2025-06-19 11:12:02.971978+00:00,2025-06-19 11:12:02.971978+00:00
1,c91544d1-0e18-4659-ac12-c0871ae06f88,43f53ad5-75ed-4e8d-9a74-e99e7b9b85a4,phone,(585) 704-8170,True,2025-06-19 11:12:02.971978+00:00,2025-06-19 11:12:02.971978+00:00
2,dbf4b583-6b82-469e-8133-b9071081062c,e4b0d184-75c6-4e25-9f3f-f3db80ec0486,email,aaliyah.williams@gmail.com,True,2025-06-19 11:12:02.991602+00:00,2025-06-19 11:12:02.991602+00:00
3,5bd5a73c-8d4a-47eb-8eb8-728dd40a72e5,e4b0d184-75c6-4e25-9f3f-f3db80ec0486,phone,(616) 235-8448,True,2025-06-19 11:12:02.991602+00:00,2025-06-19 11:12:02.991602+00:00
4,4ec95a15-e0e6-44de-9749-3df13901c469,e4b0d184-75c6-4e25-9f3f-f3db80ec0486,linkedin,linkedin.com/in/aaliyah-williams-841,False,2025-06-19 11:12:02.991602+00:00,2025-06-19 11:12:02.991602+00:00

### Table: employee_assessments

,id,employee_id,assessment_type,assessment_date,source_filename,status,notes,created_at,updated_at
0,5cb605a8-3d61-4cdf-bfa5-9b02c5116e4f,43f53ad5-75ed-4e8d-9a74-e99e7b9b85a4,Hogan,2025-05-08,Hogan_Aaliyah_Anderson.txt,active,None,2025-06-19 11:12:05.673148+00:00,2025-06-19 11:12:05.674886+00:00
1,e78e0101-ecc4-4bad-b63b-29337ed05820,e4b0d184-75c6-4e25-9f3f-f3db80ec0486,Hogan,2025-04-12,Hogan_Aaliyah_Williams.txt,active,None,2025-06-19 11:12:05.684898+00:00,2025-06-19 11:12:05.685467+00:00
2,53350f7e-728c-44dc-96fd-0350064bb2fa,1356af81-8b19-4aaa-a2fd-3320f676be56,Hogan,2025-05-19,Hogan_Aaliyah_Wilson.txt,active,None,2025-06-19 11:12:05.693564+00:00,2025-06-19 11:12:05.694332+00:00
3,35639ad3-0299-4283-85ef-b364f1f1584b,c0a19d35-9a94-45dc-a6e4-99a651308f63,Hogan,2025-01-02,Hogan_Ahmed_Al-Ahmad.txt,active,None,2025-06-19 11:12:05.703017+00:00,2025-06-19 11:12:05.704025+00:00
4,72514f15-6dcd-47f4-a0e6-8d773f779417,cd771b52-be8a-4dbe-b2d4-01b3cb97ae46,Hogan,2025-05-15,Hogan_Ahmed_Farouk.txt,active,None,2025-06-19 11:12:05.712931+00:00,2025-06-19 11:12:05.713633+00:00

### Table: employee_education

,id,employee_id,degree,field,institution,start_date,end_date,created_at,updated_at
0,800bd434-791e-4495-93ab-cb345f0d2dff,43f53ad5-75ed-4e8d-9a74-e99e7b9b85a4,,,Princeton University,2020-01-01,None,2025-06-19 11:12:02.971978+00:00,2025-06-19 11:12:02.971978+00:00
1,350470f2-018d-4fd2-b75e-e771e8c2c095,43f53ad5-75ed-4e8d-9a74-e99e7b9b85a4,,,Ohio State University,2016-01-01,None,2025-06-19 11:12:02.971978+00:00,2025-06-19 11:12:02.971978+00:00
2,1c1306b0-21ab-45be-9b0d-8c1141dfb78a,e4b0d184-75c6-4e25-9f3f-f3db80ec0486,,,Cornell University,1998-01-01,None,2025-06-19 11:12:02.991602+00:00,2025-06-19 11:12:02.991602+00:00
3,7e8c2e4c-b2b9-4776-a830-d0e549917a89,e4b0d184-75c6-4e25-9f3f-f3db80ec0486,,,Georgia Institute of Technology,1994-01-01,None,2025-06-19 11:12:02.991602+00:00,2025-06-19 11:12:02.991602+00:00
4,51331398-7f5d-4409-8fde-3c59007fc6ef,c0a19d35-9a94-45dc-a6e4-99a651308f63,,,Princeton University,2019-01-01,None,2025-06-19 11:12:03.017680+00:00,2025-06-19 11:12:03.017680+00:00

### Table: employee_experiences

,id,employee_id,title,company,start_date,end_date,description,created_at,updated_at
0,fb709e07-73be-43ac-9e58-78b536fb5e32,43f53ad5-75ed-4e8d-9a74-e99e7b9b85a4,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-19 11:12:02.971978+00:00,2025-06-19 11:12:02.971978+00:00
1,08f717db-b102-46a8-aa53-694d8f24af44,43f53ad5-75ed-4e8d-9a74-e99e7b9b85a4,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-19 11:12:02.971978+00:00,2025-06-19 11:12:02.971978+00:00
2,f728a387-8089-4274-8147-aa4b653d1bd5,43f53ad5-75ed-4e8d-9a74-e99e7b9b85a4,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-19 11:12:02.971978+00:00,2025-06-19 11:12:02.971978+00:00
3,4494b344-6e4f-470b-a03b-c62201489b01,43f53ad5-75ed-4e8d-9a74-e99e7b9b85a4,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-19 11:12:02.971978+00:00,2025-06-19 11:12:02.971978+00:00
4,ebae1dfb-d762-4a73-b039-25ca79a469d2,1356af81-8b19-4aaa-a2fd-3320f676be56,Bookkeeper,Yale University,2022-01-01,None,Performed due diligence for $378K M&A transact...,2025-06-19 11:12:03.003441+00:00,2025-06-19 11:12:03.003441+00:00

### Table: employee_skills

,id,employee_id,skill,type,created_at,updated_at
0,ef9ce84a-0a00-40b0-b954-0cdab6b5bcc0,a457b125-293d-4586-8059-c5ff9fdcf61f,Jira,technical,2025-06-19 11:12:03.401515+00:00,2025-06-19 11:12:03.401515+00:00
1,2b658b2e-2012-4db2-a073-6a8a3efe9e81,a457b125-293d-4586-8059-c5ff9fdcf61f,React,technical,2025-06-19 11:12:03.401515+00:00,2025-06-19 11:12:03.401515+00:00
2,177105f6-b67f-4119-a899-adcc155be3ff,a457b125-293d-4586-8059-c5ff9fdcf61f,SVN,technical,2025-06-19 11:12:03.401515+00:00,2025-06-19 11:12:03.401515+00:00
3,76fbfabe-ba31-430b-941b-4ac78ac29398,a457b125-293d-4586-8059-c5ff9fdcf61f,DynamoDB,technical,2025-06-19 11:12:03.401515+00:00,2025-06-19 11:12:03.401515+00:00
4,cb7f8312-8aeb-480d-a264-a2603471d2e8,a457b125-293d-4586-8059-c5ff9fdcf61f,Python,technical,2025-06-19 11:12:03.401515+00:00,2025-06-19 11:12:03.401515+00:00

### Table: idi_scores

,id,assessment_id,category,dimension,score,created_at,updated_at
0,bc2892e5-66d7-40f0-bfd6-0539940975c7,4da8dfe2-18b9-4aad-9161-98ecf943d98b,AFFILIATING,Giving,25,2025-06-19 11:12:07.693050+00:00,2025-06-19 11:12:07.693050+00:00
1,0e0380f1-3624-4a7e-bd40-57b8534d3244,4da8dfe2-18b9-4aad-9161-98ecf943d98b,AFFILIATING,Receiving,40,2025-06-19 11:12:07.693050+00:00,2025-06-19 11:12:07.693050+00:00
2,470b432a-a4f4-430e-a0c2-67156aca5a4b,4da8dfe2-18b9-4aad-9161-98ecf943d98b,AFFILIATING,Belonging,75,2025-06-19 11:12:07.693050+00:00,2025-06-19 11:12:07.693050+00:00
3,f870a1de-2a73-4f1b-abdf-04503364192b,4da8dfe2-18b9-4aad-9161-98ecf943d98b,AFFILIATING,Expressing,50,2025-06-19 11:12:07.693050+00:00,2025-06-19 11:12:07.693050+00:00
4,6ab2f7d5-549e-4979-8d19-e48dbaab4308,4da8dfe2-18b9-4aad-9161-98ecf943d98b,ATTRACTING,Stature,20,2025-06-19 11:12:07.693050+00:00,2025-06-19 11:12:07.693050+00:00

### Table: hogan_scores

,id,assessment_id,trait,score,created_at,updated_at
0,e169c470-f6ff-4436-8b73-32853df5aae4,5cb605a8-3d61-4cdf-bfa5-9b02c5116e4f,May,8,2025-06-19 11:12:05.673148+00:00,2025-06-19 11:12:05.673148+00:00
1,8741a7d3-797e-4fe1-88b3-b4a3e1da6403,5cb605a8-3d61-4cdf-bfa5-9b02c5116e4f,Adjustment,57,2025-06-19 11:12:05.673148+00:00,2025-06-19 11:12:05.673148+00:00
2,313ef1e3-7ea6-4dc6-93f3-b36443936035,5cb605a8-3d61-4cdf-bfa5-9b02c5116e4f,Ambition,30,2025-06-19 11:12:05.673148+00:00,2025-06-19 11:12:05.673148+00:00
3,200f91f9-b4af-4969-91dc-eead96d11ffc,5cb605a8-3d61-4cdf-bfa5-9b02c5116e4f,Sociability,86,2025-06-19 11:12:05.673148+00:00,2025-06-19 11:12:05.673148+00:00
4,a86aa7e9-412a-4da7-bcb1-572fb2bba4b4,5cb605a8-3d61-4cdf-bfa5-9b02c5116e4f,Interpersonal Sensitivity,79,2025-06-19 11:12:05.673148+00:00,2025-06-19 11:12:05.673148+00:00

### Table: embedding_runs

,id,name,chunking_method,embedding_model,run_parameters,created_at,updated_at
0,f02758d0-207a-4f94-90dd-98469424ff0e,Run_20250619_111240,cv,text-embedding-3-small,None,2025-06-19 11:12:40.028777+00:00,2025-06-19 11:12:40.028777+00:00

### Table: embedding_chunks

,id,employee_id,external_document_id,chunk_index,content,embedding,token_count,char_count,chunk_label,score,created_at,updated_at
0,e7464c59-5037-42da-be7b-cd724cf505e6,5f3998a7-d7f9-4cd7-b3d4-a1a2a4445e3d,ac6bb08f-613f-458a-9cdb-49efc37c43d8,0,Name: Antoine Jones\nEmail: ajones@yahoo.com\n...,"[-0.021453006,-0.007978336,0.020108866,-0.0002...",None,None,None,None,2025-06-19 11:12:40.049959+00:00,2025-06-19 11:12:40.049959+00:00
1,73acaf8c-5d3a-475c-8591-995f19277e77,5f3998a7-d7f9-4cd7-b3d4-a1a2a4445e3d,ac6bb08f-613f-458a-9cdb-49efc37c43d8,1,Engineering Intern | Roche\nOct 2015 - Apr 201...,"[-0.027875923,-0.019750768,0.052276935,0.00105...",None,None,None,None,2025-06-19 11:12:40.049959+00:00,2025-06-19 11:12:40.049959+00:00
2,b2bcf421-2423-4dd0-a416-f12213ae8fef,5f3998a7-d7f9-4cd7-b3d4-a1a2a4445e3d,ac6bb08f-613f-458a-9cdb-49efc37c43d8,2,Research Assistant | Warner Bros\nApr 2011 - J...,"[0.0010363123,-0.006886853,0.047682468,-0.0168...",None,None,None,None,2025-06-19 11:12:40.049959+00:00,2025-06-19 11:12:40.049959+00:00
3,b6995d42-b153-4ff4-bea8-f4ef41950aea,5f3998a7-d7f9-4cd7-b3d4-a1a2a4445e3d,ac6bb08f-613f-458a-9cdb-49efc37c43d8,3,Sales Associate | Honeywell\nAug 2012 - Feb 20...,"[-0.015912928,-0.023628693,0.025888596,0.01291...",None,None,None,None,2025-06-19 11:12:40.049959+00:00,2025-06-19 11:12:40.049959+00:00
4,0372e348-8218-4f04-83e1-45aca2ac3abc,42062ad4-785b-45f5-b3fe-a38763716ebe,17f15f3b-f459-42ef-ad40-f0140631713c,0,Name: Ashley Davis\nEmail: ashley.davis@hotmai...,"[0.012133123,-0.023701916,0.07213627,0.0527036...",None,None,None,None,2025-06-19 11:12:41.893952+00:00,2025-06-19 11:12:41.893952+00:00

### Table: embedding_documents

,id,employee_id,embedding_run_id,document_type,source_filename,title,external_document_id,parsed_source_id,source_type,created_at,updated_at
0,ac982599-9de2-4540-b071-d80b7b6f5160,5f3998a7-d7f9-4cd7-b3d4-a1a2a4445e3d,f02758d0-207a-4f94-90dd-98469424ff0e,cv,CV_Antoine_Jones.txt,None,ac6bb08f-613f-458a-9cdb-49efc37c43d8,None,cv,2025-06-19 11:12:40.056626+00:00,2025-06-19 11:12:40.056626+00:00
1,a1fe5f3a-a2d8-4638-881c-993e9d8994d5,42062ad4-785b-45f5-b3fe-a38763716ebe,f02758d0-207a-4f94-90dd-98469424ff0e,cv,CV_Ashley_Davis.txt,None,17f15f3b-f459-42ef-ad40-f0140631713c,None,cv,2025-06-19 11:12:41.896046+00:00,2025-06-19 11:12:41.896047+00:00
2,69af06a3-ae71-4cb4-bb85-5018575a3625,f5e451c8-c922-4ae6-b343-bf8f5e30381b,f02758d0-207a-4f94-90dd-98469424ff0e,assessment,Hogan_Terrell_Davis.txt,None,323c5f43-b7bb-4099-bd4b-fc219272f25b,None,assessment,2025-06-19 11:12:43.127234+00:00,2025-06-19 11:12:43.127234+00:00
3,97d7678f-6b23-4ce3-9cdc-f3decd3a80ae,cddb3c0b-ebf8-4c24-9c3a-fcb0b87134f8,f02758d0-207a-4f94-90dd-98469424ff0e,assessment,IDI_Amanda_Miller.txt,None,0c8fdc49-ce93-4062-9544-9c24bb3a5b1c,None,assessment,2025-06-19 11:12:43.717302+00:00,2025-06-19 11:12:43.717303+00:00
4,20c46c14-41af-4ca9-b776-69b46f9f7036,99d831f5-f213-484c-a33e-71010f851f8a,f02758d0-207a-4f94-90dd-98469424ff0e,assessment,Hogan_DeShawn_Brown.txt,None,d8a80922-244e-4539-8d58-07356e8750d9,None,assessment,2025-06-19 11:12:44.158336+00:00,2025-06-19 11:12:44.158337+00:00

In [31]:
target_name = 'Carlos Garcia'

query = """
SELECT 
    e.id as employee_id,
    e.full_name,
    ee.*,
    ex.*,
    es.*,
    ea.*
FROM employees e
LEFT JOIN employee_education ee ON ee.employee_id = e.id
LEFT JOIN employee_experiences ex ON ex.employee_id = e.id
LEFT JOIN employee_skills es ON es.employee_id = e.id
LEFT JOIN employee_assessments ea ON ea.employee_id = e.id
WHERE e.full_name = :name;
"""

# Run the query
with engine.connect() as conn:
    df = pd.read_sql(text(query), conn, params={"name": target_name})

# Display the result
pd.set_option('display.max_columns', None)
display(df)

,employee_id,full_name,id,employee_id,degree,field,institution,start_date,end_date,created_at,updated_at,id,employee_id,title,company,start_date,end_date,description,created_at,updated_at,id,employee_id,skill,type,created_at,updated_at,id,employee_id,assessment_type,assessment_date,source_filename,status,notes,created_at,updated_at
0,379aea1d-0a8b-4847-b935-242bb8eefaea,Carlos Garcia,d6270445-0778-4f11-95f2-d04b424243df,379aea1d-0a8b-4847-b935-242bb8eefaea,,,Purdue University,2012-01-01,None,2025-06-19 11:12:03.427568+00:00,2025-06-19 11:12:03.427568+00:00,d6b7b6f2-b35a-4056-bba8-599ed921d28b,379aea1d-0a8b-4847-b935-242bb8eefaea,Full Stack Developer,John Deere,2025-01-01,None,Developed and maintained JavaScript applicatio...,2025-06-19 11:12:03.427568+00:00,2025-06-19 11:12:03.427568+00:00,None,None,None,None,None,None,bf2e1b16-a0de-495c-a6c1-7ea453c75107,379aea1d-0a8b-4847-b935-242bb8eefaea,IDI,2025-03-14,IDI_Carlos_Garcia.txt,active,None,2025-06-19 11:12:07.984097+00:00,2025-06-19 11:12:07.984735+00:00
1,379aea1d-0a8b-4847-b935-242bb8eefaea,Carlos Garcia,d6270445-0778-4f11-95f2-d04b424243df,379aea1d-0a8b-4847-b935-242bb8eefaea,,,Purdue University,2012-01-01,None,2025-06-19 11:12:03.427568+00:00,2025-06-19 11:12:03.427568+00:00,d6b7b6f2-b35a-4056-bba8-599ed921d28b,379aea1d-0a8b-4847-b935-242bb8eefaea,Full Stack Developer,John Deere,2025-01-01,None,Developed and maintained JavaScript applicatio...,2025-06-19 11:12:03.427568+00:00,2025-06-19 11:12:03.427568+00:00,None,None,None,None,None,None,552ccd1c-c501-41ec-a77b-f8c4d01357b7,379aea1d-0a8b-4847-b935-242bb8eefaea,Hogan,2025-03-22,Hogan_Carlos_Garcia.txt,active,None,2025-06-19 11:12:06.008886+00:00,2025-06-19 11:12:06.009670+00:00

In [33]:


query = """
SELECT 
    ed.id AS embedding_doc_id,
    ed.source_filename,
    ed.external_document_id,
    ea.id AS assessment_id,
    ea.source_filename
FROM embedding_documents ed
JOIN employee_assessments ea
  ON ed.external_document_id = ea.id
WHERE ed.document_type = 'assessment'
  AND ed.source_filename = ea.source_filename;
"""

# Run the query
with engine.connect() as conn:
    df = pd.read_sql(text(query), conn)

# Display the result
pd.set_option('display.max_columns', None)
display(df)

,embedding_doc_id,source_filename,external_document_id,assessment_id,source_filename
0,fcecb9ec-f918-45a3-ae61-691d120cac2e,Hogan_Aaliyah_Anderson.txt,5cb605a8-3d61-4cdf-bfa5-9b02c5116e4f,5cb605a8-3d61-4cdf-bfa5-9b02c5116e4f,Hogan_Aaliyah_Anderson.txt
1,f6bddfd1-a42d-48e9-8525-ea2873e19d39,Hogan_Aaliyah_Wilson.txt,53350f7e-728c-44dc-96fd-0350064bb2fa,53350f7e-728c-44dc-96fd-0350064bb2fa,Hogan_Aaliyah_Wilson.txt
2,f2013b7b-c625-4405-be79-dea8cb335ebc,Hogan_Ahmed_Farouk.txt,72514f15-6dcd-47f4-a0e6-8d773f779417,72514f15-6dcd-47f4-a0e6-8d773f779417,Hogan_Ahmed_Farouk.txt
3,d80a3cc1-df03-4a74-9b6d-83fbb565d256,Hogan_Ahmed_Mahmoud.txt,3673d316-2658-4454-8cf3-7fbb9a7e6dd4,3673d316-2658-4454-8cf3-7fbb9a7e6dd4,Hogan_Ahmed_Mahmoud.txt
4,dc8e724b-0caf-4ae9-aec2-8ab5694ba4b0,Hogan_Ahmed_Qureshi.txt,630e149e-c24b-4052-8727-5eff95869eb3,630e149e-c24b-4052-8727-5eff95869eb3,Hogan_Ahmed_Qureshi.txt
...,...,...,...,...,...
235,69961ced-15bb-4262-ad4f-a7551b3d3022,IDI_Terrell_Wilson.txt,ecd6cda9-ee4d-410d-b552-fc8472ffa2d6,ecd6cda9-ee4d-410d-b552-fc8472ffa2d6,IDI_Terrell_Wilson.txt
236,191c56ca-7bda-4a1e-8fea-011bc79df727,IDI_Zara_Al-Ahmad.txt,eeabcd5e-5f59-4c5f-919f-bbbdff866a4a,eeabcd5e-5f59-4c5f-919f-bbbdff866a4a,IDI_Zara_Al-Ahmad.txt
237,31ea8600-6bfb-4b32-92ed-1fc2bd2af587,IDI_Zara_Al-Rashid.txt,0905e05f-8e2f-4e8f-9174-bcef697d4605,0905e05f-8e2f-4e8f-9174-bcef697d4605,IDI_Zara_Al-Rashid.txt
238,44733e5c-6465-41ff-96f7-93902be1e9ea,IDI_Zara_Al-Zahra.txt,f9104b04-5f5d-4aff-a457-079715a4808d,f9104b04-5f5d-4aff-a457-079715a4808d,IDI_Zara_Al-Zahra.txt
239,b43f0930-a26f-4d71-862f-2e0e6e88b4bc,IDI_Zara_Hassan.txt,ff4953e2-2429-420b-b08a-9baf5bfff15d,ff4953e2-2429-420b-b08a-9baf5bfff15d,IDI_Zara_Hassan.txt

In [ ]:
# pip install pandas
# pip install sqlalchemy

import pandas as pd
from sqlalchemy import create_engine, inspect, text

# Database connection parameters
DB_HOST     = '127.0.0.1'
DB_PORT     = '5433'        # <-- your Docker host port
DB_NAME     = 'knowthee'
DB_USER     = 'postgres'
DB_PASSWORD = 'postgres'

# Create connection URL and engine
DATABASE_URL = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine = create_engine(DATABASE_URL)

# Inspect database to get table names
inspector = inspect(engine)
tables = inspector.get_table_names()

# Loop through each table and display first 5 rows
for table in tables:
    print(f"\n### Table: {table}")
    df = pd.read_sql(f"SELECT * FROM {table} LIMIT 5;", engine)
    display(df)

### Table: employees

,id,full_name,email,location,current_position,department,created_at,updated_at
0,43f53ad5-75ed-4e8d-9a74-e99e7b9b85a4,Aaliyah Anderson,aanderson@yahoo.com,"Jacksonville, FL",,,2025-06-19 11:12:02.971978+00:00,2025-06-19 11:12:02.971978+00:00
1,e4b0d184-75c6-4e25-9f3f-f3db80ec0486,Aaliyah Williams,aaliyah.williams@gmail.com,"San Antonio, TX",,,2025-06-19 11:12:02.991602+00:00,2025-06-19 11:12:02.991602+00:00
2,1356af81-8b19-4aaa-a2fd-3320f676be56,Aaliyah Wilson,awilson@outlook.com,"Jacksonville, FL",,,2025-06-19 11:12:03.003441+00:00,2025-06-19 11:12:03.003441+00:00
3,c0a19d35-9a94-45dc-a6e4-99a651308f63,Ahmed Al-Ahmad,ahmedal-ahmad@yahoo.com,,,,2025-06-19 11:12:03.017680+00:00,2025-06-19 11:12:03.017680+00:00
4,cd771b52-be8a-4dbe-b2d4-01b3cb97ae46,Ahmed Farouk,afarouk@gmail.com,"New York, NY",,,2025-06-19 11:12:03.029788+00:00,2025-06-19 11:12:03.029788+00:00

### Table: employee_cvs

,id,employee_id,filename,upload_date,source,created_at,updated_at
0,49bb8c94-4321-47be-95b5-c644752e08e1,43f53ad5-75ed-4e8d-9a74-e99e7b9b85a4,CV_Aaliyah_Anderson.txt,2025-06-19 11:12:02.971978+00:00,manual_upload,2025-06-19 11:12:02.971978+00:00,2025-06-19 11:12:02.971978+00:00
1,10f6df8a-65a0-47b1-a1ba-b6033559e1d1,e4b0d184-75c6-4e25-9f3f-f3db80ec0486,CV_Aaliyah_Williams.txt,2025-06-19 11:12:02.991602+00:00,manual_upload,2025-06-19 11:12:02.991602+00:00,2025-06-19 11:12:02.991602+00:00
2,6a6865d0-2cf0-48a2-90df-39456393e65e,1356af81-8b19-4aaa-a2fd-3320f676be56,CV_Aaliyah_Wilson.txt,2025-06-19 11:12:03.003441+00:00,manual_upload,2025-06-19 11:12:03.003441+00:00,2025-06-19 11:12:03.003441+00:00
3,4c27601e-c814-46cd-81c9-4c032247fbb9,c0a19d35-9a94-45dc-a6e4-99a651308f63,CV_Ahmed_Al-Ahmad.txt,2025-06-19 11:12:03.017680+00:00,manual_upload,2025-06-19 11:12:03.017680+00:00,2025-06-19 11:12:03.017680+00:00
4,f069ecd2-d80f-4010-8b53-f2f7a72eeaa5,cd771b52-be8a-4dbe-b2d4-01b3cb97ae46,CV_Ahmed_Farouk.txt,2025-06-19 11:12:03.029788+00:00,manual_upload,2025-06-19 11:12:03.029788+00:00,2025-06-19 11:12:03.029788+00:00

### Table: employee_contacts

,id,employee_id,type,value,is_primary,created_at,updated_at
0,e306a7b7-9928-4169-8e02-7de481d5fa9e,43f53ad5-75ed-4e8d-9a74-e99e7b9b85a4,email,aanderson@yahoo.com,True,2025-06-19 11:12:02.971978+00:00,2025-06-19 11:12:02.971978+00:00
1,c91544d1-0e18-4659-ac12-c0871ae06f88,43f53ad5-75ed-4e8d-9a74-e99e7b9b85a4,phone,(585) 704-8170,True,2025-06-19 11:12:02.971978+00:00,2025-06-19 11:12:02.971978+00:00
2,dbf4b583-6b82-469e-8133-b9071081062c,e4b0d184-75c6-4e25-9f3f-f3db80ec0486,email,aaliyah.williams@gmail.com,True,2025-06-19 11:12:02.991602+00:00,2025-06-19 11:12:02.991602+00:00
3,5bd5a73c-8d4a-47eb-8eb8-728dd40a72e5,e4b0d184-75c6-4e25-9f3f-f3db80ec0486,phone,(616) 235-8448,True,2025-06-19 11:12:02.991602+00:00,2025-06-19 11:12:02.991602+00:00
4,4ec95a15-e0e6-44de-9749-3df13901c469,e4b0d184-75c6-4e25-9f3f-f3db80ec0486,linkedin,linkedin.com/in/aaliyah-williams-841,False,2025-06-19 11:12:02.991602+00:00,2025-06-19 11:12:02.991602+00:00

### Table: employee_assessments

,id,employee_id,assessment_type,assessment_date,source_filename,status,notes,created_at,updated_at
0,5cb605a8-3d61-4cdf-bfa5-9b02c5116e4f,43f53ad5-75ed-4e8d-9a74-e99e7b9b85a4,Hogan,2025-05-08,Hogan_Aaliyah_Anderson.txt,active,None,2025-06-19 11:12:05.673148+00:00,2025-06-19 11:12:05.674886+00:00
1,e78e0101-ecc4-4bad-b63b-29337ed05820,e4b0d184-75c6-4e25-9f3f-f3db80ec0486,Hogan,2025-04-12,Hogan_Aaliyah_Williams.txt,active,None,2025-06-19 11:12:05.684898+00:00,2025-06-19 11:12:05.685467+00:00
2,53350f7e-728c-44dc-96fd-0350064bb2fa,1356af81-8b19-4aaa-a2fd-3320f676be56,Hogan,2025-05-19,Hogan_Aaliyah_Wilson.txt,active,None,2025-06-19 11:12:05.693564+00:00,2025-06-19 11:12:05.694332+00:00
3,35639ad3-0299-4283-85ef-b364f1f1584b,c0a19d35-9a94-45dc-a6e4-99a651308f63,Hogan,2025-01-02,Hogan_Ahmed_Al-Ahmad.txt,active,None,2025-06-19 11:12:05.703017+00:00,2025-06-19 11:12:05.704025+00:00
4,72514f15-6dcd-47f4-a0e6-8d773f779417,cd771b52-be8a-4dbe-b2d4-01b3cb97ae46,Hogan,2025-05-15,Hogan_Ahmed_Farouk.txt,active,None,2025-06-19 11:12:05.712931+00:00,2025-06-19 11:12:05.713633+00:00

### Table: employee_education

,id,employee_id,degree,field,institution,start_date,end_date,created_at,updated_at
0,800bd434-791e-4495-93ab-cb345f0d2dff,43f53ad5-75ed-4e8d-9a74-e99e7b9b85a4,,,Princeton University,2020-01-01,None,2025-06-19 11:12:02.971978+00:00,2025-06-19 11:12:02.971978+00:00
1,350470f2-018d-4fd2-b75e-e771e8c2c095,43f53ad5-75ed-4e8d-9a74-e99e7b9b85a4,,,Ohio State University,2016-01-01,None,2025-06-19 11:12:02.971978+00:00,2025-06-19 11:12:02.971978+00:00
2,1c1306b0-21ab-45be-9b0d-8c1141dfb78a,e4b0d184-75c6-4e25-9f3f-f3db80ec0486,,,Cornell University,1998-01-01,None,2025-06-19 11:12:02.991602+00:00,2025-06-19 11:12:02.991602+00:00
3,7e8c2e4c-b2b9-4776-a830-d0e549917a89,e4b0d184-75c6-4e25-9f3f-f3db80ec0486,,,Georgia Institute of Technology,1994-01-01,None,2025-06-19 11:12:02.991602+00:00,2025-06-19 11:12:02.991602+00:00
4,51331398-7f5d-4409-8fde-3c59007fc6ef,c0a19d35-9a94-45dc-a6e4-99a651308f63,,,Princeton University,2019-01-01,None,2025-06-19 11:12:03.017680+00:00,2025-06-19 11:12:03.017680+00:00

### Table: employee_experiences

,id,employee_id,title,company,start_date,end_date,description,created_at,updated_at
0,fb709e07-73be-43ac-9e58-78b536fb5e32,43f53ad5-75ed-4e8d-9a74-e99e7b9b85a4,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-19 11:12:02.971978+00:00,2025-06-19 11:12:02.971978+00:00
1,08f717db-b102-46a8-aa53-694d8f24af44,43f53ad5-75ed-4e8d-9a74-e99e7b9b85a4,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-19 11:12:02.971978+00:00,2025-06-19 11:12:02.971978+00:00
2,f728a387-8089-4274-8147-aa4b653d1bd5,43f53ad5-75ed-4e8d-9a74-e99e7b9b85a4,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-19 11:12:02.971978+00:00,2025-06-19 11:12:02.971978+00:00
3,4494b344-6e4f-470b-a03b-c62201489b01,43f53ad5-75ed-4e8d-9a74-e99e7b9b85a4,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-19 11:12:02.971978+00:00,2025-06-19 11:12:02.971978+00:00
4,ebae1dfb-d762-4a73-b039-25ca79a469d2,1356af81-8b19-4aaa-a2fd-3320f676be56,Bookkeeper,Yale University,2022-01-01,None,Performed due diligence for $378K M&A transact...,2025-06-19 11:12:03.003441+00:00,2025-06-19 11:12:03.003441+00:00

### Table: employee_skills

,id,employee_id,skill,type,created_at,updated_at
0,ef9ce84a-0a00-40b0-b954-0cdab6b5bcc0,a457b125-293d-4586-8059-c5ff9fdcf61f,Jira,technical,2025-06-19 11:12:03.401515+00:00,2025-06-19 11:12:03.401515+00:00
1,2b658b2e-2012-4db2-a073-6a8a3efe9e81,a457b125-293d-4586-8059-c5ff9fdcf61f,React,technical,2025-06-19 11:12:03.401515+00:00,2025-06-19 11:12:03.401515+00:00
2,177105f6-b67f-4119-a899-adcc155be3ff,a457b125-293d-4586-8059-c5ff9fdcf61f,SVN,technical,2025-06-19 11:12:03.401515+00:00,2025-06-19 11:12:03.401515+00:00
3,76fbfabe-ba31-430b-941b-4ac78ac29398,a457b125-293d-4586-8059-c5ff9fdcf61f,DynamoDB,technical,2025-06-19 11:12:03.401515+00:00,2025-06-19 11:12:03.401515+00:00
4,cb7f8312-8aeb-480d-a264-a2603471d2e8,a457b125-293d-4586-8059-c5ff9fdcf61f,Python,technical,2025-06-19 11:12:03.401515+00:00,2025-06-19 11:12:03.401515+00:00

### Table: idi_scores

,id,assessment_id,category,dimension,score,created_at,updated_at
0,bc2892e5-66d7-40f0-bfd6-0539940975c7,4da8dfe2-18b9-4aad-9161-98ecf943d98b,AFFILIATING,Giving,25,2025-06-19 11:12:07.693050+00:00,2025-06-19 11:12:07.693050+00:00
1,0e0380f1-3624-4a7e-bd40-57b8534d3244,4da8dfe2-18b9-4aad-9161-98ecf943d98b,AFFILIATING,Receiving,40,2025-06-19 11:12:07.693050+00:00,2025-06-19 11:12:07.693050+00:00
2,470b432a-a4f4-430e-a0c2-67156aca5a4b,4da8dfe2-18b9-4aad-9161-98ecf943d98b,AFFILIATING,Belonging,75,2025-06-19 11:12:07.693050+00:00,2025-06-19 11:12:07.693050+00:00
3,f870a1de-2a73-4f1b-abdf-04503364192b,4da8dfe2-18b9-4aad-9161-98ecf943d98b,AFFILIATING,Expressing,50,2025-06-19 11:12:07.693050+00:00,2025-06-19 11:12:07.693050+00:00
4,6ab2f7d5-549e-4979-8d19-e48dbaab4308,4da8dfe2-18b9-4aad-9161-98ecf943d98b,ATTRACTING,Stature,20,2025-06-19 11:12:07.693050+00:00,2025-06-19 11:12:07.693050+00:00

### Table: hogan_scores

,id,assessment_id,trait,score,created_at,updated_at
0,e169c470-f6ff-4436-8b73-32853df5aae4,5cb605a8-3d61-4cdf-bfa5-9b02c5116e4f,May,8,2025-06-19 11:12:05.673148+00:00,2025-06-19 11:12:05.673148+00:00
1,8741a7d3-797e-4fe1-88b3-b4a3e1da6403,5cb605a8-3d61-4cdf-bfa5-9b02c5116e4f,Adjustment,57,2025-06-19 11:12:05.673148+00:00,2025-06-19 11:12:05.673148+00:00
2,313ef1e3-7ea6-4dc6-93f3-b36443936035,5cb605a8-3d61-4cdf-bfa5-9b02c5116e4f,Ambition,30,2025-06-19 11:12:05.673148+00:00,2025-06-19 11:12:05.673148+00:00
3,200f91f9-b4af-4969-91dc-eead96d11ffc,5cb605a8-3d61-4cdf-bfa5-9b02c5116e4f,Sociability,86,2025-06-19 11:12:05.673148+00:00,2025-06-19 11:12:05.673148+00:00
4,a86aa7e9-412a-4da7-bcb1-572fb2bba4b4,5cb605a8-3d61-4cdf-bfa5-9b02c5116e4f,Interpersonal Sensitivity,79,2025-06-19 11:12:05.673148+00:00,2025-06-19 11:12:05.673148+00:00

### Table: embedding_runs

,id,name,chunking_method,embedding_model,run_parameters,created_at,updated_at
0,f02758d0-207a-4f94-90dd-98469424ff0e,Run_20250619_111240,cv,text-embedding-3-small,None,2025-06-19 11:12:40.028777+00:00,2025-06-19 11:12:40.028777+00:00

### Table: embedding_chunks

,id,employee_id,external_document_id,chunk_index,content,embedding,token_count,char_count,chunk_label,score,created_at,updated_at
0,e7464c59-5037-42da-be7b-cd724cf505e6,5f3998a7-d7f9-4cd7-b3d4-a1a2a4445e3d,ac6bb08f-613f-458a-9cdb-49efc37c43d8,0,Name: Antoine Jones\nEmail: ajones@yahoo.com\n...,"[-0.021453006,-0.007978336,0.020108866,-0.0002...",None,None,None,None,2025-06-19 11:12:40.049959+00:00,2025-06-19 11:12:40.049959+00:00
1,73acaf8c-5d3a-475c-8591-995f19277e77,5f3998a7-d7f9-4cd7-b3d4-a1a2a4445e3d,ac6bb08f-613f-458a-9cdb-49efc37c43d8,1,Engineering Intern | Roche\nOct 2015 - Apr 201...,"[-0.027875923,-0.019750768,0.052276935,0.00105...",None,None,None,None,2025-06-19 11:12:40.049959+00:00,2025-06-19 11:12:40.049959+00:00
2,b2bcf421-2423-4dd0-a416-f12213ae8fef,5f3998a7-d7f9-4cd7-b3d4-a1a2a4445e3d,ac6bb08f-613f-458a-9cdb-49efc37c43d8,2,Research Assistant | Warner Bros\nApr 2011 - J...,"[0.0010363123,-0.006886853,0.047682468,-0.0168...",None,None,None,None,2025-06-19 11:12:40.049959+00:00,2025-06-19 11:12:40.049959+00:00
3,b6995d42-b153-4ff4-bea8-f4ef41950aea,5f3998a7-d7f9-4cd7-b3d4-a1a2a4445e3d,ac6bb08f-613f-458a-9cdb-49efc37c43d8,3,Sales Associate | Honeywell\nAug 2012 - Feb 20...,"[-0.015912928,-0.023628693,0.025888596,0.01291...",None,None,None,None,2025-06-19 11:12:40.049959+00:00,2025-06-19 11:12:40.049959+00:00
4,0372e348-8218-4f04-83e1-45aca2ac3abc,42062ad4-785b-45f5-b3fe-a38763716ebe,17f15f3b-f459-42ef-ad40-f0140631713c,0,Name: Ashley Davis\nEmail: ashley.davis@hotmai...,"[0.012133123,-0.023701916,0.07213627,0.0527036...",None,None,None,None,2025-06-19 11:12:41.893952+00:00,2025-06-19 11:12:41.893952+00:00

### Table: embedding_documents

,id,employee_id,embedding_run_id,document_type,source_filename,title,external_document_id,parsed_source_id,source_type,created_at,updated_at
0,ac982599-9de2-4540-b071-d80b7b6f5160,5f3998a7-d7f9-4cd7-b3d4-a1a2a4445e3d,f02758d0-207a-4f94-90dd-98469424ff0e,cv,CV_Antoine_Jones.txt,None,ac6bb08f-613f-458a-9cdb-49efc37c43d8,None,cv,2025-06-19 11:12:40.056626+00:00,2025-06-19 11:12:40.056626+00:00
1,a1fe5f3a-a2d8-4638-881c-993e9d8994d5,42062ad4-785b-45f5-b3fe-a38763716ebe,f02758d0-207a-4f94-90dd-98469424ff0e,cv,CV_Ashley_Davis.txt,None,17f15f3b-f459-42ef-ad40-f0140631713c,None,cv,2025-06-19 11:12:41.896046+00:00,2025-06-19 11:12:41.896047+00:00
2,69af06a3-ae71-4cb4-bb85-5018575a3625,f5e451c8-c922-4ae6-b343-bf8f5e30381b,f02758d0-207a-4f94-90dd-98469424ff0e,assessment,Hogan_Terrell_Davis.txt,None,323c5f43-b7bb-4099-bd4b-fc219272f25b,None,assessment,2025-06-19 11:12:43.127234+00:00,2025-06-19 11:12:43.127234+00:00
3,97d7678f-6b23-4ce3-9cdc-f3decd3a80ae,cddb3c0b-ebf8-4c24-9c3a-fcb0b87134f8,f02758d0-207a-4f94-90dd-98469424ff0e,assessment,IDI_Amanda_Miller.txt,None,0c8fdc49-ce93-4062-9544-9c24bb3a5b1c,None,assessment,2025-06-19 11:12:43.717302+00:00,2025-06-19 11:12:43.717303+00:00
4,20c46c14-41af-4ca9-b776-69b46f9f7036,99d831f5-f213-484c-a33e-71010f851f8a,f02758d0-207a-4f94-90dd-98469424ff0e,assessment,Hogan_DeShawn_Brown.txt,None,d8a80922-244e-4539-8d58-07356e8750d9,None,assessment,2025-06-19 11:12:44.158336+00:00,2025-06-19 11:12:44.158337+00:00

In [32]:
# Specify the full_name to search
target_name = 'Carlos Garcia'

# Step 1: Get employee_id for the full_name
with engine.connect() as conn:
    employee_df = pd.read_sql(
        text("SELECT id FROM employees WHERE full_name = :name"),
        conn,
        params={"name": target_name}
    )

if employee_df.empty:
    print(f"No employee found with name: {target_name}")
else:
    employee_id = employee_df.iloc[0]['id']
    print(f"Found employee_id: {employee_id} for {target_name}")

    # Step 2: List of other tables that use employee_id
    related_tables = [
        'employee_contacts',
        'employee_education',
        'employee_experiences',
        'employee_skills',
        'employee_assessments',
        'idi_scores',
        'hogan_scores',
    ]

    # Step 3: Fetch and display rows from each table for that employee_id
    for table in related_tables:
        print(f"\n### Table: {table}")
        query = f"SELECT * FROM {table} WHERE employee_id = :emp_id"
        with engine.connect() as conn:
            df = pd.read_sql(text(query), conn, params={"emp_id": employee_id})
            display(df)

Found employee_id: 379aea1d-0a8b-4847-b935-242bb8eefaea for Carlos Garcia

### Table: employee_contacts

,id,employee_id,type,value,is_primary,created_at,updated_at
0,af9ce50b-8193-4d4c-972e-dd74167069f5,379aea1d-0a8b-4847-b935-242bb8eefaea,email,carlosgarcia@yahoo.com,True,2025-06-19 11:12:03.427568+00:00,2025-06-19 11:12:03.427568+00:00
1,bcf40783-ea32-44ad-8bda-75ea21cf3213,379aea1d-0a8b-4847-b935-242bb8eefaea,phone,(217) 658-7820,True,2025-06-19 11:12:03.427568+00:00,2025-06-19 11:12:03.427568+00:00

### Table: employee_education

,id,employee_id,degree,field,institution,start_date,end_date,created_at,updated_at
0,d6270445-0778-4f11-95f2-d04b424243df,379aea1d-0a8b-4847-b935-242bb8eefaea,,,Purdue University,2012-01-01,None,2025-06-19 11:12:03.427568+00:00,2025-06-19 11:12:03.427568+00:00

### Table: employee_experiences

,id,employee_id,title,company,start_date,end_date,description,created_at,updated_at
0,d6b7b6f2-b35a-4056-bba8-599ed921d28b,379aea1d-0a8b-4847-b935-242bb8eefaea,Full Stack Developer,John Deere,2025-01-01,None,Developed and maintained JavaScript applicatio...,2025-06-19 11:12:03.427568+00:00,2025-06-19 11:12:03.427568+00:00

### Table: employee_skills

Empty DataFrame
Columns: [id, employee_id, skill, type, created_at, updated_at]
Index: []

### Table: employee_assessments

,id,employee_id,assessment_type,assessment_date,source_filename,status,notes,created_at,updated_at
0,552ccd1c-c501-41ec-a77b-f8c4d01357b7,379aea1d-0a8b-4847-b935-242bb8eefaea,Hogan,2025-03-22,Hogan_Carlos_Garcia.txt,active,None,2025-06-19 11:12:06.008886+00:00,2025-06-19 11:12:06.009670+00:00
1,bf2e1b16-a0de-495c-a6c1-7ea453c75107,379aea1d-0a8b-4847-b935-242bb8eefaea,IDI,2025-03-14,IDI_Carlos_Garcia.txt,active,None,2025-06-19 11:12:07.984097+00:00,2025-06-19 11:12:07.984735+00:00

### Table: idi_scores

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "employee_id" does not exist
LINE 1: SELECT * FROM idi_scores WHERE employee_id = '379aea1d-0a8b-...
                                       ^

[SQL: SELECT * FROM idi_scores WHERE employee_id = %(emp_id)s]
[parameters: {'emp_id': UUID('379aea1d-0a8b-4847-b935-242bb8eefaea')}]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
# pip install pandas
# pip install sqlalchemy

import pandas as pd
from sqlalchemy import create_engine, inspect, text

# Database connection parameters
DB_HOST     = '127.0.0.1'
DB_PORT     = '5433'        # <-- your Docker host port
DB_NAME     = 'knowthee'
DB_USER     = 'postgres'
DB_PASSWORD = 'postgres'

# Create connection URL and engine
DATABASE_URL = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine = create_engine(DATABASE_URL)

# Inspect database to get table names
inspector = inspect(engine)
tables = inspector.get_table_names()

# Loop through each table and display first 5 rows
for table in tables:
    print(f"\n### Table: {table}")
    df = pd.read_sql(f"SELECT * FROM {table} LIMIT 5;", engine)
    display(df)

### Table: employees

,id,full_name,email,location,current_position,department,created_at,updated_at
0,f0403747-10d3-4922-9889-304a09d50212,Aaliyah Anderson,aanderson@yahoo.com,"Jacksonville, FL",,,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
1,afb67828-fc8c-4a23-9beb-3c8726904285,Aaliyah Williams,aaliyah.williams@gmail.com,"San Antonio, TX",,,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00
2,7092bc9a-fc3e-45be-a8da-1cf145ff3516,Aaliyah Wilson,awilson@outlook.com,"Jacksonville, FL",,,2025-06-18 08:36:28.908297+00:00,2025-06-18 08:36:28.908297+00:00
3,c35ddca6-dec0-456c-967d-36212744dcc0,Ahmed Al-Ahmad,ahmedal-ahmad@yahoo.com,,,,2025-06-18 08:36:28.919962+00:00,2025-06-18 08:36:28.919962+00:00
4,13272be5-5fe3-4338-9831-14e29d140533,Ahmed Farouk,afarouk@gmail.com,"New York, NY",,,2025-06-18 08:36:28.928874+00:00,2025-06-18 08:36:28.928874+00:00

### Table: employee_contacts

,id,employee_id,type,value,is_primary,created_at,updated_at
0,ca279f01-61f0-4c56-8e2c-958d31506125,f0403747-10d3-4922-9889-304a09d50212,email,aanderson@yahoo.com,True,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
1,a29db906-af34-4985-815f-3559dd27d0e9,f0403747-10d3-4922-9889-304a09d50212,phone,(585) 704-8170,True,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
2,a93786b1-295c-4126-8ba7-376248782c54,afb67828-fc8c-4a23-9beb-3c8726904285,email,aaliyah.williams@gmail.com,True,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00
3,dbc29558-b60b-4f2f-a367-77674a22be4c,afb67828-fc8c-4a23-9beb-3c8726904285,phone,(616) 235-8448,True,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00
4,6b8e5ed0-57de-4097-ac9f-13b9b46436b0,afb67828-fc8c-4a23-9beb-3c8726904285,linkedin,linkedin.com/in/aaliyah-williams-841,False,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00

### Table: employee_education

,id,employee_id,degree,field,institution,start_date,end_date,created_at,updated_at
0,9426fd0e-9962-46d7-b693-200425871749,f0403747-10d3-4922-9889-304a09d50212,,,Princeton University,2020-01-01,None,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
1,5b0c2fd6-e233-4a5c-a016-6024e42256b4,f0403747-10d3-4922-9889-304a09d50212,,,Ohio State University,2016-01-01,None,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
2,d7f7c30c-074c-4ecf-bca7-40a9285aef7d,afb67828-fc8c-4a23-9beb-3c8726904285,,,Cornell University,1998-01-01,None,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00
3,d84c3dbc-2197-4c70-bff2-59261979cf67,afb67828-fc8c-4a23-9beb-3c8726904285,,,Georgia Institute of Technology,1994-01-01,None,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00
4,0042830f-4ab4-4cab-ad25-c67570cc7f52,c35ddca6-dec0-456c-967d-36212744dcc0,,,Princeton University,2019-01-01,None,2025-06-18 08:36:28.919962+00:00,2025-06-18 08:36:28.919962+00:00

### Table: idi_scores

,id,assessment_id,category,dimension,score,created_at,updated_at
0,2f1df7da-2d21-4bb8-b082-f00ff31707b0,c9c2fce7-dd65-40c2-8993-0fa2a74b0886,AFFILIATING,Giving,25,2025-06-18 08:36:32.887708+00:00,2025-06-18 08:36:32.887708+00:00
1,65fe3e15-04a7-4247-aca5-7b2cad1e64a6,c9c2fce7-dd65-40c2-8993-0fa2a74b0886,AFFILIATING,Receiving,40,2025-06-18 08:36:32.887708+00:00,2025-06-18 08:36:32.887708+00:00
2,e9d9789d-d6ee-41c3-851d-7efda055f6af,c9c2fce7-dd65-40c2-8993-0fa2a74b0886,AFFILIATING,Belonging,75,2025-06-18 08:36:32.887708+00:00,2025-06-18 08:36:32.887708+00:00
3,330b10b4-216a-41b0-ba97-f9be0bd5b68a,c9c2fce7-dd65-40c2-8993-0fa2a74b0886,AFFILIATING,Expressing,50,2025-06-18 08:36:32.887708+00:00,2025-06-18 08:36:32.887708+00:00
4,78d83a48-15a9-4e63-8bd2-1ed99c3954f7,c9c2fce7-dd65-40c2-8993-0fa2a74b0886,ATTRACTING,Stature,20,2025-06-18 08:36:32.887708+00:00,2025-06-18 08:36:32.887708+00:00

### Table: employee_experiences

,id,employee_id,title,company,start_date,end_date,description,created_at,updated_at
0,43860bff-1bcd-4b34-81a5-e14963fe7273,f0403747-10d3-4922-9889-304a09d50212,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
1,dc904684-5bf5-434a-a165-efb82e3dda0c,f0403747-10d3-4922-9889-304a09d50212,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
2,561b47c6-5f7b-4c24-a1ff-cd1569643334,f0403747-10d3-4922-9889-304a09d50212,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
3,e805e719-ed55-4ebf-9134-7e90d69a7dc8,f0403747-10d3-4922-9889-304a09d50212,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
4,dc35465a-9725-4c09-8724-0555667b8241,7092bc9a-fc3e-45be-a8da-1cf145ff3516,Bookkeeper,Yale University,2022-01-01,None,Performed due diligence for $378K M&A transact...,2025-06-18 08:36:28.908297+00:00,2025-06-18 08:36:28.908297+00:00

### Table: employee_skills

,id,employee_id,skill,type,created_at,updated_at
0,eeba3690-46f5-4218-b2a8-6c1da57820d2,de1ba4e9-f926-49d7-81a7-935971a471a3,Jira,technical,2025-06-18 08:36:29.295082+00:00,2025-06-18 08:36:29.295082+00:00
1,e440fe87-504b-436e-953b-08684eadbe44,de1ba4e9-f926-49d7-81a7-935971a471a3,React,technical,2025-06-18 08:36:29.295082+00:00,2025-06-18 08:36:29.295082+00:00
2,cd9ca026-6228-47ee-9917-f53c6093be9c,de1ba4e9-f926-49d7-81a7-935971a471a3,SVN,technical,2025-06-18 08:36:29.295082+00:00,2025-06-18 08:36:29.295082+00:00
3,b762de43-cc0b-4b00-a95b-4aac4643a166,de1ba4e9-f926-49d7-81a7-935971a471a3,DynamoDB,technical,2025-06-18 08:36:29.295082+00:00,2025-06-18 08:36:29.295082+00:00
4,8198bdad-f5ff-4d66-a143-36602e0d8f62,de1ba4e9-f926-49d7-81a7-935971a471a3,Python,technical,2025-06-18 08:36:29.295082+00:00,2025-06-18 08:36:29.295082+00:00

### Table: employee_assessments

,id,employee_id,assessment_type,assessment_date,source_filename,status,notes,created_at,updated_at
0,3e92bf13-e558-473c-b615-9fe2c6272ff4,f0403747-10d3-4922-9889-304a09d50212,Hogan,2025-05-08,Hogan_Aaliyah_Anderson.txt,active,None,2025-06-18 08:36:31.286442+00:00,2025-06-18 08:36:31.288023+00:00
1,bbbe98b6-1184-45f5-b12b-adf28f1af576,afb67828-fc8c-4a23-9beb-3c8726904285,Hogan,2025-04-12,Hogan_Aaliyah_Williams.txt,active,None,2025-06-18 08:36:31.297998+00:00,2025-06-18 08:36:31.298544+00:00
2,2bf9d0f4-1ee8-40ed-9833-2af37d61cb45,7092bc9a-fc3e-45be-a8da-1cf145ff3516,Hogan,2025-05-19,Hogan_Aaliyah_Wilson.txt,active,None,2025-06-18 08:36:31.306136+00:00,2025-06-18 08:36:31.307059+00:00
3,3dda34ad-e1c5-4ae1-a576-066778b470c5,c35ddca6-dec0-456c-967d-36212744dcc0,Hogan,2025-01-02,Hogan_Ahmed_Al-Ahmad.txt,active,None,2025-06-18 08:36:31.314578+00:00,2025-06-18 08:36:31.315153+00:00
4,482df4f9-8b64-49cb-828a-f0e1b8e25c87,13272be5-5fe3-4338-9831-14e29d140533,Hogan,2025-05-15,Hogan_Ahmed_Farouk.txt,active,None,2025-06-18 08:36:31.322934+00:00,2025-06-18 08:36:31.323581+00:00

### Table: hogan_scores

,id,assessment_id,trait,score,created_at,updated_at
0,e7abc791-e233-494d-8775-45dd95c9e78d,3e92bf13-e558-473c-b615-9fe2c6272ff4,May,8,2025-06-18 08:36:31.286442+00:00,2025-06-18 08:36:31.286442+00:00
1,c7c0246d-6ecb-4b3f-bbf1-19f89373554d,3e92bf13-e558-473c-b615-9fe2c6272ff4,Adjustment,57,2025-06-18 08:36:31.286442+00:00,2025-06-18 08:36:31.286442+00:00
2,0b275dac-325c-48f5-8ffd-b6e60825e049,3e92bf13-e558-473c-b615-9fe2c6272ff4,Ambition,30,2025-06-18 08:36:31.286442+00:00,2025-06-18 08:36:31.286442+00:00
3,c7055916-9250-4a84-be20-e03dd45353c3,3e92bf13-e558-473c-b615-9fe2c6272ff4,Sociability,86,2025-06-18 08:36:31.286442+00:00,2025-06-18 08:36:31.286442+00:00
4,a5e57932-9dbe-46e9-82af-f11dc2d67626,3e92bf13-e558-473c-b615-9fe2c6272ff4,Interpersonal Sensitivity,79,2025-06-18 08:36:31.286442+00:00,2025-06-18 08:36:31.286442+00:00

### Table: embedding_runs

,id,name,chunking_method,embedding_model,run_parameters,created_at,updated_at
0,8451c596-e1a7-4b94-b07f-9fdd4464835e,Run_20250618_083640,cv,text-embedding-3-small,None,2025-06-18 08:36:40.114545+00:00,2025-06-18 08:36:40.114545+00:00

### Table: employee_cvs

,id,employee_id,filename,upload_date,source,created_at,updated_at
0,22b39928-99e6-4c51-a9ef-5745638b00fc,f0403747-10d3-4922-9889-304a09d50212,CV_Aaliyah_Anderson.txt,2025-06-18 08:36:28.882773+00:00,manual_upload,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
1,06f01c41-c375-4cb1-8507-a0a160030f33,afb67828-fc8c-4a23-9beb-3c8726904285,CV_Aaliyah_Williams.txt,2025-06-18 08:36:28.899665+00:00,manual_upload,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00
2,524115cc-6bc7-4001-96c3-a00bfe08dbec,7092bc9a-fc3e-45be-a8da-1cf145ff3516,CV_Aaliyah_Wilson.txt,2025-06-18 08:36:28.908297+00:00,manual_upload,2025-06-18 08:36:28.908297+00:00,2025-06-18 08:36:28.908297+00:00
3,621987c7-682e-4e0a-9305-4f157a7d3e25,c35ddca6-dec0-456c-967d-36212744dcc0,CV_Ahmed_Al-Ahmad.txt,2025-06-18 08:36:28.919962+00:00,manual_upload,2025-06-18 08:36:28.919962+00:00,2025-06-18 08:36:28.919962+00:00
4,eccb90b2-b64f-4717-b381-a6b7bae44acf,13272be5-5fe3-4338-9831-14e29d140533,CV_Ahmed_Farouk.txt,2025-06-18 08:36:28.928874+00:00,manual_upload,2025-06-18 08:36:28.928874+00:00,2025-06-18 08:36:28.928874+00:00

### Table: embedding_chunks

,id,external_document_id,chunk_index,content,embedding,token_count,char_count,chunk_label,score,created_at,updated_at
0,bd76c025-0adb-4263-9035-5fd58df406ab,b3bebc7f-1a58-4d60-a53b-56c39bac0bfd,0,Name: Antoine Jones\nEmail: ajones@yahoo.com\n...,"[-0.021413742,-0.007978582,0.020122796,-0.0002...",None,None,None,None,2025-06-18 08:36:40.134783+00:00,2025-06-18 08:36:40.134783+00:00
1,8a09c875-56cd-4e01-b4c9-7d6c0c9f2868,b3bebc7f-1a58-4d60-a53b-56c39bac0bfd,1,Engineering Intern | Roche\nOct 2015 - Apr 201...,"[-0.027867414,-0.019719196,0.052235436,0.00101...",None,None,None,None,2025-06-18 08:36:40.134783+00:00,2025-06-18 08:36:40.134783+00:00
2,bda94b2d-b5cf-4d16-9d9b-c4870165b14d,b3bebc7f-1a58-4d60-a53b-56c39bac0bfd,2,Research Assistant | Warner Bros\nApr 2011 - J...,"[0.0010363123,-0.006886853,0.047682468,-0.0168...",None,None,None,None,2025-06-18 08:36:40.134783+00:00,2025-06-18 08:36:40.134783+00:00
3,c12ece37-5911-4a11-812f-4eda1ce1c10a,b3bebc7f-1a58-4d60-a53b-56c39bac0bfd,3,Sales Associate | Honeywell\nAug 2012 - Feb 20...,"[-0.015957437,-0.02366195,0.025909102,0.012880...",None,None,None,None,2025-06-18 08:36:40.134783+00:00,2025-06-18 08:36:40.134783+00:00
4,3af716b9-f794-4d5a-b849-1072394bb46e,86bcdf75-e00d-4f29-bead-ffd986862294,0,Name: Ashley Davis\nEmail: ashley.davis@hotmai...,"[0.01213072,-0.023697218,0.07212197,0.05269319...",None,None,None,None,2025-06-18 08:36:41.913149+00:00,2025-06-18 08:36:41.913149+00:00

### Table: embedding_documents

,id,employee_id,embedding_run_id,document_type,source_filename,title,external_document_id,parsed_source_id,source_type,created_at,updated_at
0,19afe36c-46f0-4f71-8f61-aa510f34895e,04a08a5f-7b96-4d8d-b28c-a2bc893fbf84,8451c596-e1a7-4b94-b07f-9fdd4464835e,cv,CV_Antoine_Jones.txt,None,b3bebc7f-1a58-4d60-a53b-56c39bac0bfd,None,cv,2025-06-18 08:36:40.141137+00:00,2025-06-18 08:36:40.141137+00:00
1,11af16dd-1d21-409b-b3dc-27e21f857b76,3c1398af-34de-43a1-9e78-736e6b3293f4,8451c596-e1a7-4b94-b07f-9fdd4464835e,cv,CV_Ashley_Davis.txt,None,86bcdf75-e00d-4f29-bead-ffd986862294,None,cv,2025-06-18 08:36:41.915636+00:00,2025-06-18 08:36:41.915638+00:00
2,75ba294b-44c6-4385-b873-6fe2c485bbbd,acbeb6e6-e48f-44b4-8177-24af6f91c31b,8451c596-e1a7-4b94-b07f-9fdd4464835e,assessment,Hogan_Terrell_Davis.txt,None,730f48d7-1331-4a84-bc79-e90baf8a2656,None,assessment,2025-06-18 08:36:43.038776+00:00,2025-06-18 08:36:43.038778+00:00
3,7ab984d8-1a72-40da-bd5f-29c5c3e190ab,72d08520-4fd9-4293-a554-a52c8d20ad03,8451c596-e1a7-4b94-b07f-9fdd4464835e,assessment,IDI_Amanda_Miller.txt,None,6aff542b-46a2-4795-b93a-b581f1617f28,None,assessment,2025-06-18 08:36:43.508657+00:00,2025-06-18 08:36:43.508657+00:00
4,db5b45a0-3adf-4551-80bd-1ce17795a9ef,53665c6f-fda5-4ee6-ad38-77c4394c50af,8451c596-e1a7-4b94-b07f-9fdd4464835e,assessment,Hogan_DeShawn_Brown.txt,None,6bb184c0-f9ed-46c8-98df-cfdadd7032d1,None,assessment,2025-06-18 08:36:43.752399+00:00,2025-06-18 08:36:43.752400+00:00

In [ ]:
# pip install pandas
# pip install sqlalchemy

import pandas as pd
from sqlalchemy import create_engine, inspect, text

# Database connection parameters
DB_HOST     = '127.0.0.1'
DB_PORT     = '5433'        # <-- your Docker host port
DB_NAME     = 'knowthee'
DB_USER     = 'postgres'
DB_PASSWORD = 'postgres'

# Create connection URL and engine
DATABASE_URL = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine = create_engine(DATABASE_URL)

# Inspect database to get table names
inspector = inspect(engine)
tables = inspector.get_table_names()

# Loop through each table and display first 5 rows
for table in tables:
    print(f"\n### Table: {table}")
    df = pd.read_sql(f"SELECT * FROM {table} LIMIT 5;", engine)
    display(df)

### Table: employees

,id,full_name,email,location,current_position,department,created_at,updated_at
0,f0403747-10d3-4922-9889-304a09d50212,Aaliyah Anderson,aanderson@yahoo.com,"Jacksonville, FL",,,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
1,afb67828-fc8c-4a23-9beb-3c8726904285,Aaliyah Williams,aaliyah.williams@gmail.com,"San Antonio, TX",,,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00
2,7092bc9a-fc3e-45be-a8da-1cf145ff3516,Aaliyah Wilson,awilson@outlook.com,"Jacksonville, FL",,,2025-06-18 08:36:28.908297+00:00,2025-06-18 08:36:28.908297+00:00
3,c35ddca6-dec0-456c-967d-36212744dcc0,Ahmed Al-Ahmad,ahmedal-ahmad@yahoo.com,,,,2025-06-18 08:36:28.919962+00:00,2025-06-18 08:36:28.919962+00:00
4,13272be5-5fe3-4338-9831-14e29d140533,Ahmed Farouk,afarouk@gmail.com,"New York, NY",,,2025-06-18 08:36:28.928874+00:00,2025-06-18 08:36:28.928874+00:00

### Table: employee_contacts

,id,employee_id,type,value,is_primary,created_at,updated_at
0,ca279f01-61f0-4c56-8e2c-958d31506125,f0403747-10d3-4922-9889-304a09d50212,email,aanderson@yahoo.com,True,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
1,a29db906-af34-4985-815f-3559dd27d0e9,f0403747-10d3-4922-9889-304a09d50212,phone,(585) 704-8170,True,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
2,a93786b1-295c-4126-8ba7-376248782c54,afb67828-fc8c-4a23-9beb-3c8726904285,email,aaliyah.williams@gmail.com,True,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00
3,dbc29558-b60b-4f2f-a367-77674a22be4c,afb67828-fc8c-4a23-9beb-3c8726904285,phone,(616) 235-8448,True,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00
4,6b8e5ed0-57de-4097-ac9f-13b9b46436b0,afb67828-fc8c-4a23-9beb-3c8726904285,linkedin,linkedin.com/in/aaliyah-williams-841,False,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00

### Table: employee_education

,id,employee_id,degree,field,institution,start_date,end_date,created_at,updated_at
0,9426fd0e-9962-46d7-b693-200425871749,f0403747-10d3-4922-9889-304a09d50212,,,Princeton University,2020-01-01,None,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
1,5b0c2fd6-e233-4a5c-a016-6024e42256b4,f0403747-10d3-4922-9889-304a09d50212,,,Ohio State University,2016-01-01,None,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
2,d7f7c30c-074c-4ecf-bca7-40a9285aef7d,afb67828-fc8c-4a23-9beb-3c8726904285,,,Cornell University,1998-01-01,None,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00
3,d84c3dbc-2197-4c70-bff2-59261979cf67,afb67828-fc8c-4a23-9beb-3c8726904285,,,Georgia Institute of Technology,1994-01-01,None,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00
4,0042830f-4ab4-4cab-ad25-c67570cc7f52,c35ddca6-dec0-456c-967d-36212744dcc0,,,Princeton University,2019-01-01,None,2025-06-18 08:36:28.919962+00:00,2025-06-18 08:36:28.919962+00:00

### Table: idi_scores

,id,assessment_id,category,dimension,score,created_at,updated_at
0,2f1df7da-2d21-4bb8-b082-f00ff31707b0,c9c2fce7-dd65-40c2-8993-0fa2a74b0886,AFFILIATING,Giving,25,2025-06-18 08:36:32.887708+00:00,2025-06-18 08:36:32.887708+00:00
1,65fe3e15-04a7-4247-aca5-7b2cad1e64a6,c9c2fce7-dd65-40c2-8993-0fa2a74b0886,AFFILIATING,Receiving,40,2025-06-18 08:36:32.887708+00:00,2025-06-18 08:36:32.887708+00:00
2,e9d9789d-d6ee-41c3-851d-7efda055f6af,c9c2fce7-dd65-40c2-8993-0fa2a74b0886,AFFILIATING,Belonging,75,2025-06-18 08:36:32.887708+00:00,2025-06-18 08:36:32.887708+00:00
3,330b10b4-216a-41b0-ba97-f9be0bd5b68a,c9c2fce7-dd65-40c2-8993-0fa2a74b0886,AFFILIATING,Expressing,50,2025-06-18 08:36:32.887708+00:00,2025-06-18 08:36:32.887708+00:00
4,78d83a48-15a9-4e63-8bd2-1ed99c3954f7,c9c2fce7-dd65-40c2-8993-0fa2a74b0886,ATTRACTING,Stature,20,2025-06-18 08:36:32.887708+00:00,2025-06-18 08:36:32.887708+00:00

### Table: employee_experiences

,id,employee_id,title,company,start_date,end_date,description,created_at,updated_at
0,43860bff-1bcd-4b34-81a5-e14963fe7273,f0403747-10d3-4922-9889-304a09d50212,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
1,dc904684-5bf5-434a-a165-efb82e3dda0c,f0403747-10d3-4922-9889-304a09d50212,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
2,561b47c6-5f7b-4c24-a1ff-cd1569643334,f0403747-10d3-4922-9889-304a09d50212,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
3,e805e719-ed55-4ebf-9134-7e90d69a7dc8,f0403747-10d3-4922-9889-304a09d50212,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
4,dc35465a-9725-4c09-8724-0555667b8241,7092bc9a-fc3e-45be-a8da-1cf145ff3516,Bookkeeper,Yale University,2022-01-01,None,Performed due diligence for $378K M&A transact...,2025-06-18 08:36:28.908297+00:00,2025-06-18 08:36:28.908297+00:00

### Table: employee_skills

,id,employee_id,skill,type,created_at,updated_at
0,eeba3690-46f5-4218-b2a8-6c1da57820d2,de1ba4e9-f926-49d7-81a7-935971a471a3,Jira,technical,2025-06-18 08:36:29.295082+00:00,2025-06-18 08:36:29.295082+00:00
1,e440fe87-504b-436e-953b-08684eadbe44,de1ba4e9-f926-49d7-81a7-935971a471a3,React,technical,2025-06-18 08:36:29.295082+00:00,2025-06-18 08:36:29.295082+00:00
2,cd9ca026-6228-47ee-9917-f53c6093be9c,de1ba4e9-f926-49d7-81a7-935971a471a3,SVN,technical,2025-06-18 08:36:29.295082+00:00,2025-06-18 08:36:29.295082+00:00
3,b762de43-cc0b-4b00-a95b-4aac4643a166,de1ba4e9-f926-49d7-81a7-935971a471a3,DynamoDB,technical,2025-06-18 08:36:29.295082+00:00,2025-06-18 08:36:29.295082+00:00
4,8198bdad-f5ff-4d66-a143-36602e0d8f62,de1ba4e9-f926-49d7-81a7-935971a471a3,Python,technical,2025-06-18 08:36:29.295082+00:00,2025-06-18 08:36:29.295082+00:00

### Table: employee_assessments

,id,employee_id,assessment_type,assessment_date,source_filename,status,notes,created_at,updated_at
0,3e92bf13-e558-473c-b615-9fe2c6272ff4,f0403747-10d3-4922-9889-304a09d50212,Hogan,2025-05-08,Hogan_Aaliyah_Anderson.txt,active,None,2025-06-18 08:36:31.286442+00:00,2025-06-18 08:36:31.288023+00:00
1,bbbe98b6-1184-45f5-b12b-adf28f1af576,afb67828-fc8c-4a23-9beb-3c8726904285,Hogan,2025-04-12,Hogan_Aaliyah_Williams.txt,active,None,2025-06-18 08:36:31.297998+00:00,2025-06-18 08:36:31.298544+00:00
2,2bf9d0f4-1ee8-40ed-9833-2af37d61cb45,7092bc9a-fc3e-45be-a8da-1cf145ff3516,Hogan,2025-05-19,Hogan_Aaliyah_Wilson.txt,active,None,2025-06-18 08:36:31.306136+00:00,2025-06-18 08:36:31.307059+00:00
3,3dda34ad-e1c5-4ae1-a576-066778b470c5,c35ddca6-dec0-456c-967d-36212744dcc0,Hogan,2025-01-02,Hogan_Ahmed_Al-Ahmad.txt,active,None,2025-06-18 08:36:31.314578+00:00,2025-06-18 08:36:31.315153+00:00
4,482df4f9-8b64-49cb-828a-f0e1b8e25c87,13272be5-5fe3-4338-9831-14e29d140533,Hogan,2025-05-15,Hogan_Ahmed_Farouk.txt,active,None,2025-06-18 08:36:31.322934+00:00,2025-06-18 08:36:31.323581+00:00

### Table: hogan_scores

,id,assessment_id,trait,score,created_at,updated_at
0,e7abc791-e233-494d-8775-45dd95c9e78d,3e92bf13-e558-473c-b615-9fe2c6272ff4,May,8,2025-06-18 08:36:31.286442+00:00,2025-06-18 08:36:31.286442+00:00
1,c7c0246d-6ecb-4b3f-bbf1-19f89373554d,3e92bf13-e558-473c-b615-9fe2c6272ff4,Adjustment,57,2025-06-18 08:36:31.286442+00:00,2025-06-18 08:36:31.286442+00:00
2,0b275dac-325c-48f5-8ffd-b6e60825e049,3e92bf13-e558-473c-b615-9fe2c6272ff4,Ambition,30,2025-06-18 08:36:31.286442+00:00,2025-06-18 08:36:31.286442+00:00
3,c7055916-9250-4a84-be20-e03dd45353c3,3e92bf13-e558-473c-b615-9fe2c6272ff4,Sociability,86,2025-06-18 08:36:31.286442+00:00,2025-06-18 08:36:31.286442+00:00
4,a5e57932-9dbe-46e9-82af-f11dc2d67626,3e92bf13-e558-473c-b615-9fe2c6272ff4,Interpersonal Sensitivity,79,2025-06-18 08:36:31.286442+00:00,2025-06-18 08:36:31.286442+00:00

### Table: embedding_runs

,id,name,chunking_method,embedding_model,run_parameters,created_at,updated_at
0,8451c596-e1a7-4b94-b07f-9fdd4464835e,Run_20250618_083640,cv,text-embedding-3-small,None,2025-06-18 08:36:40.114545+00:00,2025-06-18 08:36:40.114545+00:00

### Table: employee_cvs

,id,employee_id,filename,upload_date,source,created_at,updated_at
0,22b39928-99e6-4c51-a9ef-5745638b00fc,f0403747-10d3-4922-9889-304a09d50212,CV_Aaliyah_Anderson.txt,2025-06-18 08:36:28.882773+00:00,manual_upload,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
1,06f01c41-c375-4cb1-8507-a0a160030f33,afb67828-fc8c-4a23-9beb-3c8726904285,CV_Aaliyah_Williams.txt,2025-06-18 08:36:28.899665+00:00,manual_upload,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00
2,524115cc-6bc7-4001-96c3-a00bfe08dbec,7092bc9a-fc3e-45be-a8da-1cf145ff3516,CV_Aaliyah_Wilson.txt,2025-06-18 08:36:28.908297+00:00,manual_upload,2025-06-18 08:36:28.908297+00:00,2025-06-18 08:36:28.908297+00:00
3,621987c7-682e-4e0a-9305-4f157a7d3e25,c35ddca6-dec0-456c-967d-36212744dcc0,CV_Ahmed_Al-Ahmad.txt,2025-06-18 08:36:28.919962+00:00,manual_upload,2025-06-18 08:36:28.919962+00:00,2025-06-18 08:36:28.919962+00:00
4,eccb90b2-b64f-4717-b381-a6b7bae44acf,13272be5-5fe3-4338-9831-14e29d140533,CV_Ahmed_Farouk.txt,2025-06-18 08:36:28.928874+00:00,manual_upload,2025-06-18 08:36:28.928874+00:00,2025-06-18 08:36:28.928874+00:00

### Table: embedding_chunks

,id,external_document_id,chunk_index,content,embedding,token_count,char_count,chunk_label,score,created_at,updated_at
0,bd76c025-0adb-4263-9035-5fd58df406ab,b3bebc7f-1a58-4d60-a53b-56c39bac0bfd,0,Name: Antoine Jones\nEmail: ajones@yahoo.com\n...,"[-0.021413742,-0.007978582,0.020122796,-0.0002...",None,None,None,None,2025-06-18 08:36:40.134783+00:00,2025-06-18 08:36:40.134783+00:00
1,8a09c875-56cd-4e01-b4c9-7d6c0c9f2868,b3bebc7f-1a58-4d60-a53b-56c39bac0bfd,1,Engineering Intern | Roche\nOct 2015 - Apr 201...,"[-0.027867414,-0.019719196,0.052235436,0.00101...",None,None,None,None,2025-06-18 08:36:40.134783+00:00,2025-06-18 08:36:40.134783+00:00
2,bda94b2d-b5cf-4d16-9d9b-c4870165b14d,b3bebc7f-1a58-4d60-a53b-56c39bac0bfd,2,Research Assistant | Warner Bros\nApr 2011 - J...,"[0.0010363123,-0.006886853,0.047682468,-0.0168...",None,None,None,None,2025-06-18 08:36:40.134783+00:00,2025-06-18 08:36:40.134783+00:00
3,c12ece37-5911-4a11-812f-4eda1ce1c10a,b3bebc7f-1a58-4d60-a53b-56c39bac0bfd,3,Sales Associate | Honeywell\nAug 2012 - Feb 20...,"[-0.015957437,-0.02366195,0.025909102,0.012880...",None,None,None,None,2025-06-18 08:36:40.134783+00:00,2025-06-18 08:36:40.134783+00:00
4,3af716b9-f794-4d5a-b849-1072394bb46e,86bcdf75-e00d-4f29-bead-ffd986862294,0,Name: Ashley Davis\nEmail: ashley.davis@hotmai...,"[0.01213072,-0.023697218,0.07212197,0.05269319...",None,None,None,None,2025-06-18 08:36:41.913149+00:00,2025-06-18 08:36:41.913149+00:00

### Table: embedding_documents

,id,employee_id,embedding_run_id,document_type,source_filename,title,external_document_id,parsed_source_id,source_type,created_at,updated_at
0,19afe36c-46f0-4f71-8f61-aa510f34895e,04a08a5f-7b96-4d8d-b28c-a2bc893fbf84,8451c596-e1a7-4b94-b07f-9fdd4464835e,cv,CV_Antoine_Jones.txt,None,b3bebc7f-1a58-4d60-a53b-56c39bac0bfd,None,cv,2025-06-18 08:36:40.141137+00:00,2025-06-18 08:36:40.141137+00:00
1,11af16dd-1d21-409b-b3dc-27e21f857b76,3c1398af-34de-43a1-9e78-736e6b3293f4,8451c596-e1a7-4b94-b07f-9fdd4464835e,cv,CV_Ashley_Davis.txt,None,86bcdf75-e00d-4f29-bead-ffd986862294,None,cv,2025-06-18 08:36:41.915636+00:00,2025-06-18 08:36:41.915638+00:00
2,75ba294b-44c6-4385-b873-6fe2c485bbbd,acbeb6e6-e48f-44b4-8177-24af6f91c31b,8451c596-e1a7-4b94-b07f-9fdd4464835e,assessment,Hogan_Terrell_Davis.txt,None,730f48d7-1331-4a84-bc79-e90baf8a2656,None,assessment,2025-06-18 08:36:43.038776+00:00,2025-06-18 08:36:43.038778+00:00
3,7ab984d8-1a72-40da-bd5f-29c5c3e190ab,72d08520-4fd9-4293-a554-a52c8d20ad03,8451c596-e1a7-4b94-b07f-9fdd4464835e,assessment,IDI_Amanda_Miller.txt,None,6aff542b-46a2-4795-b93a-b581f1617f28,None,assessment,2025-06-18 08:36:43.508657+00:00,2025-06-18 08:36:43.508657+00:00
4,db5b45a0-3adf-4551-80bd-1ce17795a9ef,53665c6f-fda5-4ee6-ad38-77c4394c50af,8451c596-e1a7-4b94-b07f-9fdd4464835e,assessment,Hogan_DeShawn_Brown.txt,None,6bb184c0-f9ed-46c8-98df-cfdadd7032d1,None,assessment,2025-06-18 08:36:43.752399+00:00,2025-06-18 08:36:43.752400+00:00

In [ ]:
# pip install pandas
# pip install sqlalchemy

import pandas as pd
from sqlalchemy import create_engine, inspect, text

# Database connection parameters
DB_HOST     = '127.0.0.1'
DB_PORT     = '5433'        # <-- your Docker host port
DB_NAME     = 'knowthee'
DB_USER     = 'postgres'
DB_PASSWORD = 'postgres'

# Create connection URL and engine
DATABASE_URL = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine = create_engine(DATABASE_URL)

# Inspect database to get table names
inspector = inspect(engine)
tables = inspector.get_table_names()

# Loop through each table and display first 5 rows
for table in tables:
    print(f"\n### Table: {table}")
    df = pd.read_sql(f"SELECT * FROM {table} LIMIT 5;", engine)
    display(df)

### Table: employees

,id,full_name,email,location,current_position,department,created_at,updated_at
0,f0403747-10d3-4922-9889-304a09d50212,Aaliyah Anderson,aanderson@yahoo.com,"Jacksonville, FL",,,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
1,afb67828-fc8c-4a23-9beb-3c8726904285,Aaliyah Williams,aaliyah.williams@gmail.com,"San Antonio, TX",,,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00
2,7092bc9a-fc3e-45be-a8da-1cf145ff3516,Aaliyah Wilson,awilson@outlook.com,"Jacksonville, FL",,,2025-06-18 08:36:28.908297+00:00,2025-06-18 08:36:28.908297+00:00
3,c35ddca6-dec0-456c-967d-36212744dcc0,Ahmed Al-Ahmad,ahmedal-ahmad@yahoo.com,,,,2025-06-18 08:36:28.919962+00:00,2025-06-18 08:36:28.919962+00:00
4,13272be5-5fe3-4338-9831-14e29d140533,Ahmed Farouk,afarouk@gmail.com,"New York, NY",,,2025-06-18 08:36:28.928874+00:00,2025-06-18 08:36:28.928874+00:00

### Table: employee_contacts

,id,employee_id,type,value,is_primary,created_at,updated_at
0,ca279f01-61f0-4c56-8e2c-958d31506125,f0403747-10d3-4922-9889-304a09d50212,email,aanderson@yahoo.com,True,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
1,a29db906-af34-4985-815f-3559dd27d0e9,f0403747-10d3-4922-9889-304a09d50212,phone,(585) 704-8170,True,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
2,a93786b1-295c-4126-8ba7-376248782c54,afb67828-fc8c-4a23-9beb-3c8726904285,email,aaliyah.williams@gmail.com,True,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00
3,dbc29558-b60b-4f2f-a367-77674a22be4c,afb67828-fc8c-4a23-9beb-3c8726904285,phone,(616) 235-8448,True,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00
4,6b8e5ed0-57de-4097-ac9f-13b9b46436b0,afb67828-fc8c-4a23-9beb-3c8726904285,linkedin,linkedin.com/in/aaliyah-williams-841,False,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00

### Table: employee_education

,id,employee_id,degree,field,institution,start_date,end_date,created_at,updated_at
0,9426fd0e-9962-46d7-b693-200425871749,f0403747-10d3-4922-9889-304a09d50212,,,Princeton University,2020-01-01,None,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
1,5b0c2fd6-e233-4a5c-a016-6024e42256b4,f0403747-10d3-4922-9889-304a09d50212,,,Ohio State University,2016-01-01,None,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
2,d7f7c30c-074c-4ecf-bca7-40a9285aef7d,afb67828-fc8c-4a23-9beb-3c8726904285,,,Cornell University,1998-01-01,None,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00
3,d84c3dbc-2197-4c70-bff2-59261979cf67,afb67828-fc8c-4a23-9beb-3c8726904285,,,Georgia Institute of Technology,1994-01-01,None,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00
4,0042830f-4ab4-4cab-ad25-c67570cc7f52,c35ddca6-dec0-456c-967d-36212744dcc0,,,Princeton University,2019-01-01,None,2025-06-18 08:36:28.919962+00:00,2025-06-18 08:36:28.919962+00:00

### Table: idi_scores

,id,assessment_id,category,dimension,score,created_at,updated_at
0,2f1df7da-2d21-4bb8-b082-f00ff31707b0,c9c2fce7-dd65-40c2-8993-0fa2a74b0886,AFFILIATING,Giving,25,2025-06-18 08:36:32.887708+00:00,2025-06-18 08:36:32.887708+00:00
1,65fe3e15-04a7-4247-aca5-7b2cad1e64a6,c9c2fce7-dd65-40c2-8993-0fa2a74b0886,AFFILIATING,Receiving,40,2025-06-18 08:36:32.887708+00:00,2025-06-18 08:36:32.887708+00:00
2,e9d9789d-d6ee-41c3-851d-7efda055f6af,c9c2fce7-dd65-40c2-8993-0fa2a74b0886,AFFILIATING,Belonging,75,2025-06-18 08:36:32.887708+00:00,2025-06-18 08:36:32.887708+00:00
3,330b10b4-216a-41b0-ba97-f9be0bd5b68a,c9c2fce7-dd65-40c2-8993-0fa2a74b0886,AFFILIATING,Expressing,50,2025-06-18 08:36:32.887708+00:00,2025-06-18 08:36:32.887708+00:00
4,78d83a48-15a9-4e63-8bd2-1ed99c3954f7,c9c2fce7-dd65-40c2-8993-0fa2a74b0886,ATTRACTING,Stature,20,2025-06-18 08:36:32.887708+00:00,2025-06-18 08:36:32.887708+00:00

### Table: employee_experiences

,id,employee_id,title,company,start_date,end_date,description,created_at,updated_at
0,43860bff-1bcd-4b34-81a5-e14963fe7273,f0403747-10d3-4922-9889-304a09d50212,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
1,dc904684-5bf5-434a-a165-efb82e3dda0c,f0403747-10d3-4922-9889-304a09d50212,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
2,561b47c6-5f7b-4c24-a1ff-cd1569643334,f0403747-10d3-4922-9889-304a09d50212,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
3,e805e719-ed55-4ebf-9134-7e90d69a7dc8,f0403747-10d3-4922-9889-304a09d50212,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
4,dc35465a-9725-4c09-8724-0555667b8241,7092bc9a-fc3e-45be-a8da-1cf145ff3516,Bookkeeper,Yale University,2022-01-01,None,Performed due diligence for $378K M&A transact...,2025-06-18 08:36:28.908297+00:00,2025-06-18 08:36:28.908297+00:00

### Table: employee_skills

,id,employee_id,skill,type,created_at,updated_at
0,eeba3690-46f5-4218-b2a8-6c1da57820d2,de1ba4e9-f926-49d7-81a7-935971a471a3,Jira,technical,2025-06-18 08:36:29.295082+00:00,2025-06-18 08:36:29.295082+00:00
1,e440fe87-504b-436e-953b-08684eadbe44,de1ba4e9-f926-49d7-81a7-935971a471a3,React,technical,2025-06-18 08:36:29.295082+00:00,2025-06-18 08:36:29.295082+00:00
2,cd9ca026-6228-47ee-9917-f53c6093be9c,de1ba4e9-f926-49d7-81a7-935971a471a3,SVN,technical,2025-06-18 08:36:29.295082+00:00,2025-06-18 08:36:29.295082+00:00
3,b762de43-cc0b-4b00-a95b-4aac4643a166,de1ba4e9-f926-49d7-81a7-935971a471a3,DynamoDB,technical,2025-06-18 08:36:29.295082+00:00,2025-06-18 08:36:29.295082+00:00
4,8198bdad-f5ff-4d66-a143-36602e0d8f62,de1ba4e9-f926-49d7-81a7-935971a471a3,Python,technical,2025-06-18 08:36:29.295082+00:00,2025-06-18 08:36:29.295082+00:00

### Table: employee_assessments

,id,employee_id,assessment_type,assessment_date,source_filename,status,notes,created_at,updated_at
0,3e92bf13-e558-473c-b615-9fe2c6272ff4,f0403747-10d3-4922-9889-304a09d50212,Hogan,2025-05-08,Hogan_Aaliyah_Anderson.txt,active,None,2025-06-18 08:36:31.286442+00:00,2025-06-18 08:36:31.288023+00:00
1,bbbe98b6-1184-45f5-b12b-adf28f1af576,afb67828-fc8c-4a23-9beb-3c8726904285,Hogan,2025-04-12,Hogan_Aaliyah_Williams.txt,active,None,2025-06-18 08:36:31.297998+00:00,2025-06-18 08:36:31.298544+00:00
2,2bf9d0f4-1ee8-40ed-9833-2af37d61cb45,7092bc9a-fc3e-45be-a8da-1cf145ff3516,Hogan,2025-05-19,Hogan_Aaliyah_Wilson.txt,active,None,2025-06-18 08:36:31.306136+00:00,2025-06-18 08:36:31.307059+00:00
3,3dda34ad-e1c5-4ae1-a576-066778b470c5,c35ddca6-dec0-456c-967d-36212744dcc0,Hogan,2025-01-02,Hogan_Ahmed_Al-Ahmad.txt,active,None,2025-06-18 08:36:31.314578+00:00,2025-06-18 08:36:31.315153+00:00
4,482df4f9-8b64-49cb-828a-f0e1b8e25c87,13272be5-5fe3-4338-9831-14e29d140533,Hogan,2025-05-15,Hogan_Ahmed_Farouk.txt,active,None,2025-06-18 08:36:31.322934+00:00,2025-06-18 08:36:31.323581+00:00

### Table: hogan_scores

,id,assessment_id,trait,score,created_at,updated_at
0,e7abc791-e233-494d-8775-45dd95c9e78d,3e92bf13-e558-473c-b615-9fe2c6272ff4,May,8,2025-06-18 08:36:31.286442+00:00,2025-06-18 08:36:31.286442+00:00
1,c7c0246d-6ecb-4b3f-bbf1-19f89373554d,3e92bf13-e558-473c-b615-9fe2c6272ff4,Adjustment,57,2025-06-18 08:36:31.286442+00:00,2025-06-18 08:36:31.286442+00:00
2,0b275dac-325c-48f5-8ffd-b6e60825e049,3e92bf13-e558-473c-b615-9fe2c6272ff4,Ambition,30,2025-06-18 08:36:31.286442+00:00,2025-06-18 08:36:31.286442+00:00
3,c7055916-9250-4a84-be20-e03dd45353c3,3e92bf13-e558-473c-b615-9fe2c6272ff4,Sociability,86,2025-06-18 08:36:31.286442+00:00,2025-06-18 08:36:31.286442+00:00
4,a5e57932-9dbe-46e9-82af-f11dc2d67626,3e92bf13-e558-473c-b615-9fe2c6272ff4,Interpersonal Sensitivity,79,2025-06-18 08:36:31.286442+00:00,2025-06-18 08:36:31.286442+00:00

### Table: embedding_runs

,id,name,chunking_method,embedding_model,run_parameters,created_at,updated_at
0,8451c596-e1a7-4b94-b07f-9fdd4464835e,Run_20250618_083640,cv,text-embedding-3-small,None,2025-06-18 08:36:40.114545+00:00,2025-06-18 08:36:40.114545+00:00

### Table: employee_cvs

,id,employee_id,filename,upload_date,source,created_at,updated_at
0,22b39928-99e6-4c51-a9ef-5745638b00fc,f0403747-10d3-4922-9889-304a09d50212,CV_Aaliyah_Anderson.txt,2025-06-18 08:36:28.882773+00:00,manual_upload,2025-06-18 08:36:28.882773+00:00,2025-06-18 08:36:28.882773+00:00
1,06f01c41-c375-4cb1-8507-a0a160030f33,afb67828-fc8c-4a23-9beb-3c8726904285,CV_Aaliyah_Williams.txt,2025-06-18 08:36:28.899665+00:00,manual_upload,2025-06-18 08:36:28.899665+00:00,2025-06-18 08:36:28.899665+00:00
2,524115cc-6bc7-4001-96c3-a00bfe08dbec,7092bc9a-fc3e-45be-a8da-1cf145ff3516,CV_Aaliyah_Wilson.txt,2025-06-18 08:36:28.908297+00:00,manual_upload,2025-06-18 08:36:28.908297+00:00,2025-06-18 08:36:28.908297+00:00
3,621987c7-682e-4e0a-9305-4f157a7d3e25,c35ddca6-dec0-456c-967d-36212744dcc0,CV_Ahmed_Al-Ahmad.txt,2025-06-18 08:36:28.919962+00:00,manual_upload,2025-06-18 08:36:28.919962+00:00,2025-06-18 08:36:28.919962+00:00
4,eccb90b2-b64f-4717-b381-a6b7bae44acf,13272be5-5fe3-4338-9831-14e29d140533,CV_Ahmed_Farouk.txt,2025-06-18 08:36:28.928874+00:00,manual_upload,2025-06-18 08:36:28.928874+00:00,2025-06-18 08:36:28.928874+00:00

### Table: embedding_chunks

,id,external_document_id,chunk_index,content,embedding,token_count,char_count,chunk_label,score,created_at,updated_at
0,bd76c025-0adb-4263-9035-5fd58df406ab,b3bebc7f-1a58-4d60-a53b-56c39bac0bfd,0,Name: Antoine Jones\nEmail: ajones@yahoo.com\n...,"[-0.021413742,-0.007978582,0.020122796,-0.0002...",None,None,None,None,2025-06-18 08:36:40.134783+00:00,2025-06-18 08:36:40.134783+00:00
1,8a09c875-56cd-4e01-b4c9-7d6c0c9f2868,b3bebc7f-1a58-4d60-a53b-56c39bac0bfd,1,Engineering Intern | Roche\nOct 2015 - Apr 201...,"[-0.027867414,-0.019719196,0.052235436,0.00101...",None,None,None,None,2025-06-18 08:36:40.134783+00:00,2025-06-18 08:36:40.134783+00:00
2,bda94b2d-b5cf-4d16-9d9b-c4870165b14d,b3bebc7f-1a58-4d60-a53b-56c39bac0bfd,2,Research Assistant | Warner Bros\nApr 2011 - J...,"[0.0010363123,-0.006886853,0.047682468,-0.0168...",None,None,None,None,2025-06-18 08:36:40.134783+00:00,2025-06-18 08:36:40.134783+00:00
3,c12ece37-5911-4a11-812f-4eda1ce1c10a,b3bebc7f-1a58-4d60-a53b-56c39bac0bfd,3,Sales Associate | Honeywell\nAug 2012 - Feb 20...,"[-0.015957437,-0.02366195,0.025909102,0.012880...",None,None,None,None,2025-06-18 08:36:40.134783+00:00,2025-06-18 08:36:40.134783+00:00
4,3af716b9-f794-4d5a-b849-1072394bb46e,86bcdf75-e00d-4f29-bead-ffd986862294,0,Name: Ashley Davis\nEmail: ashley.davis@hotmai...,"[0.01213072,-0.023697218,0.07212197,0.05269319...",None,None,None,None,2025-06-18 08:36:41.913149+00:00,2025-06-18 08:36:41.913149+00:00

### Table: embedding_documents

,id,employee_id,embedding_run_id,document_type,source_filename,title,external_document_id,parsed_source_id,source_type,created_at,updated_at
0,19afe36c-46f0-4f71-8f61-aa510f34895e,04a08a5f-7b96-4d8d-b28c-a2bc893fbf84,8451c596-e1a7-4b94-b07f-9fdd4464835e,cv,CV_Antoine_Jones.txt,None,b3bebc7f-1a58-4d60-a53b-56c39bac0bfd,None,cv,2025-06-18 08:36:40.141137+00:00,2025-06-18 08:36:40.141137+00:00
1,11af16dd-1d21-409b-b3dc-27e21f857b76,3c1398af-34de-43a1-9e78-736e6b3293f4,8451c596-e1a7-4b94-b07f-9fdd4464835e,cv,CV_Ashley_Davis.txt,None,86bcdf75-e00d-4f29-bead-ffd986862294,None,cv,2025-06-18 08:36:41.915636+00:00,2025-06-18 08:36:41.915638+00:00
2,75ba294b-44c6-4385-b873-6fe2c485bbbd,acbeb6e6-e48f-44b4-8177-24af6f91c31b,8451c596-e1a7-4b94-b07f-9fdd4464835e,assessment,Hogan_Terrell_Davis.txt,None,730f48d7-1331-4a84-bc79-e90baf8a2656,None,assessment,2025-06-18 08:36:43.038776+00:00,2025-06-18 08:36:43.038778+00:00
3,7ab984d8-1a72-40da-bd5f-29c5c3e190ab,72d08520-4fd9-4293-a554-a52c8d20ad03,8451c596-e1a7-4b94-b07f-9fdd4464835e,assessment,IDI_Amanda_Miller.txt,None,6aff542b-46a2-4795-b93a-b581f1617f28,None,assessment,2025-06-18 08:36:43.508657+00:00,2025-06-18 08:36:43.508657+00:00
4,db5b45a0-3adf-4551-80bd-1ce17795a9ef,53665c6f-fda5-4ee6-ad38-77c4394c50af,8451c596-e1a7-4b94-b07f-9fdd4464835e,assessment,Hogan_DeShawn_Brown.txt,None,6bb184c0-f9ed-46c8-98df-cfdadd7032d1,None,assessment,2025-06-18 08:36:43.752399+00:00,2025-06-18 08:36:43.752400+00:00