In [43]:
import pandas as pd
from sqlalchemy import create_engine, inspect

# Database connection parameters
DB_HOST     = '127.0.0.1'
DB_PORT     = '5433'        # <-- your Docker host port
DB_NAME     = 'knowthee'
DB_USER     = 'postgres'
DB_PASSWORD = 'postgres'

# Create connection URL and engine
DATABASE_URL = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine = create_engine(DATABASE_URL)

# Inspect database to get table names
inspector = inspect(engine)
tables = inspector.get_table_names()

# Loop through each table and display first 5 rows
for table in tables:
    print(f"\n### Table: {table}")
    df = pd.read_sql(f"SELECT * FROM {table} LIMIT 5;", engine)
    display(df)

### Table: employees

,id,full_name,email,location,current_position,department,created_at,updated_at
0,0212fc7e-893e-4b97-83f2-acf8fd40e083,Aaliyah Anderson,aanderson@yahoo.com,"Jacksonville, FL",,,2025-06-16 13:31:59.576631+00:00,None
1,7f9f3ddc-8e6d-4f5c-88f7-89c0241ef3f0,Aaliyah Williams,aaliyah.williams@gmail.com,"San Antonio, TX",,,2025-06-16 13:31:59.593446+00:00,None
2,d74adf24-b71e-428a-a2c4-90029f345028,Aaliyah Wilson,awilson@outlook.com,"Jacksonville, FL",,,2025-06-16 13:31:59.601521+00:00,None
3,d7721b45-ffad-4c05-98bd-7f8c761fd9c2,Ahmed Al-Ahmad,ahmedal-ahmad@yahoo.com,,,,2025-06-16 13:31:59.614212+00:00,None
4,c0a737fd-f363-430e-8395-7bc94035ca22,Ahmed Farouk,afarouk@gmail.com,"New York, NY",,,2025-06-16 13:31:59.623686+00:00,None

### Table: employee_contacts

,id,employee_id,type,value,is_primary,created_at,updated_at
0,c449c0ba-39b9-4093-bb9e-9b9cba1355b0,0212fc7e-893e-4b97-83f2-acf8fd40e083,email,aanderson@yahoo.com,True,2025-06-16 13:31:59.576631+00:00,None
1,2a7eb906-f018-4102-8e3b-2924f826e9d7,0212fc7e-893e-4b97-83f2-acf8fd40e083,phone,(585) 704-8170,True,2025-06-16 13:31:59.576631+00:00,None
2,2c6df0dc-07f6-4734-be92-52ff8a9b0ec3,7f9f3ddc-8e6d-4f5c-88f7-89c0241ef3f0,email,aaliyah.williams@gmail.com,True,2025-06-16 13:31:59.593446+00:00,None
3,3996a447-8743-4c25-bd2b-6e81de694824,7f9f3ddc-8e6d-4f5c-88f7-89c0241ef3f0,phone,(616) 235-8448,True,2025-06-16 13:31:59.593446+00:00,None
4,87a54661-5837-4122-986f-738e724618c2,7f9f3ddc-8e6d-4f5c-88f7-89c0241ef3f0,linkedin,linkedin.com/in/aaliyah-williams-841,False,2025-06-16 13:31:59.593446+00:00,None

### Table: employee_education

,id,employee_id,degree,field,institution,start_date,end_date,created_at,updated_at
0,605b81e9-6681-4efa-8f33-641b601267fe,0212fc7e-893e-4b97-83f2-acf8fd40e083,,,Princeton University,2020-01-01,None,2025-06-16 13:31:59.576631+00:00,None
1,65df84af-dc6c-40e2-8be0-846f489fe3c4,0212fc7e-893e-4b97-83f2-acf8fd40e083,,,Ohio State University,2016-01-01,None,2025-06-16 13:31:59.576631+00:00,None
2,aebe38bc-2edf-4dd8-bcb3-bb316c4874fb,7f9f3ddc-8e6d-4f5c-88f7-89c0241ef3f0,,,Cornell University,1998-01-01,None,2025-06-16 13:31:59.593446+00:00,None
3,eb06f7b0-a9d7-4e80-8ce0-2e958388f7c7,7f9f3ddc-8e6d-4f5c-88f7-89c0241ef3f0,,,Georgia Institute of Technology,1994-01-01,None,2025-06-16 13:31:59.593446+00:00,None
4,d0f680b5-d35a-4ac0-86c0-865e0764186b,d7721b45-ffad-4c05-98bd-7f8c761fd9c2,,,Princeton University,2019-01-01,None,2025-06-16 13:31:59.614212+00:00,None

### Table: idi_scores

,id,assessment_id,category,dimension,score,created_at,updated_at
0,d439fdd6-a3f5-4099-a47d-d6a8097d99a3,c5f66993-53ac-4b65-b6ce-9c7f4680a2c3,AFFILIATING,Giving,25,2025-06-16 13:32:03.808172+00:00,None
1,4fc3584f-2cca-447d-89db-d12227c9bff8,c5f66993-53ac-4b65-b6ce-9c7f4680a2c3,AFFILIATING,Receiving,40,2025-06-16 13:32:03.808172+00:00,None
2,d42f8ea9-82ed-4c77-b7e6-0c423e05bbbb,c5f66993-53ac-4b65-b6ce-9c7f4680a2c3,AFFILIATING,Belonging,75,2025-06-16 13:32:03.808172+00:00,None
3,67a6dbbb-4df3-4434-8bc8-f946df44e1e0,c5f66993-53ac-4b65-b6ce-9c7f4680a2c3,AFFILIATING,Expressing,50,2025-06-16 13:32:03.808172+00:00,None
4,b24656d2-f4a2-4d44-8bfe-9dcecc9d1434,c5f66993-53ac-4b65-b6ce-9c7f4680a2c3,ATTRACTING,Stature,20,2025-06-16 13:32:03.808172+00:00,None

### Table: employee_experiences

,id,employee_id,title,company,start_date,end_date,description,created_at,updated_at
0,f6169cb8-4a9a-45a6-b2b9-05b6293f155e,0212fc7e-893e-4b97-83f2-acf8fd40e083,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-16 13:31:59.576631+00:00,None
1,f69fda2d-625a-4452-b67c-72695197581b,0212fc7e-893e-4b97-83f2-acf8fd40e083,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-16 13:31:59.576631+00:00,None
2,c75e00bb-3022-4e08-920b-1b769d41c7c3,0212fc7e-893e-4b97-83f2-acf8fd40e083,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-16 13:31:59.576631+00:00,None
3,24462280-724e-446f-8d72-0f2bbbd7b49d,0212fc7e-893e-4b97-83f2-acf8fd40e083,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-16 13:31:59.576631+00:00,None
4,ac5d36d8-3f6a-409a-a82b-f7e0eef3248d,d74adf24-b71e-428a-a2c4-90029f345028,Bookkeeper,Yale University,2022-01-01,None,Performed due diligence for $378K M&A transact...,2025-06-16 13:31:59.601521+00:00,None

### Table: employee_skills

,id,employee_id,skill,type,created_at,updated_at
0,c7e869e1-f822-44f1-afd6-8d9a34e27846,3f5764c5-f8d8-4103-88df-5ea175e29196,Jira,technical,2025-06-16 13:31:59.936924+00:00,None
1,f2b40f17-024d-4de6-ba72-5be117fefca2,3f5764c5-f8d8-4103-88df-5ea175e29196,React,technical,2025-06-16 13:31:59.936924+00:00,None
2,d6a161eb-da6c-4db6-b0a4-ceab84660899,3f5764c5-f8d8-4103-88df-5ea175e29196,SVN,technical,2025-06-16 13:31:59.936924+00:00,None
3,0fc4d8ba-ee5c-4504-b987-c89f80dc9961,3f5764c5-f8d8-4103-88df-5ea175e29196,DynamoDB,technical,2025-06-16 13:31:59.936924+00:00,None
4,79965775-2c58-4c7c-9dc9-d5db134f2c9c,3f5764c5-f8d8-4103-88df-5ea175e29196,Python,technical,2025-06-16 13:31:59.936924+00:00,None

### Table: employee_assessments

,id,employee_id,assessment_type,assessment_date,source_filename,status,notes,created_at,updated_at
0,8da99756-8e97-466f-925d-47cb052a41d0,0212fc7e-893e-4b97-83f2-acf8fd40e083,Hogan,2025-05-08,,active,None,2025-06-16 13:32:01.976239+00:00,None
1,bcd7dfb5-4c65-4963-b4a5-f39410ee1b2f,7f9f3ddc-8e6d-4f5c-88f7-89c0241ef3f0,Hogan,2025-04-12,,active,None,2025-06-16 13:32:01.987229+00:00,None
2,816e9c53-e02e-4907-97a8-0d15096fce97,d74adf24-b71e-428a-a2c4-90029f345028,Hogan,2025-05-19,,active,None,2025-06-16 13:32:01.996084+00:00,None
3,1d09ff16-6669-4e55-b60e-2ca8257487c9,d7721b45-ffad-4c05-98bd-7f8c761fd9c2,Hogan,2025-01-02,,active,None,2025-06-16 13:32:02.004756+00:00,None
4,9b04ec01-f340-4c4d-98ed-b713079bad10,c0a737fd-f363-430e-8395-7bc94035ca22,Hogan,2025-05-15,,active,None,2025-06-16 13:32:02.013538+00:00,None

### Table: hogan_scores

,id,assessment_id,trait,score,created_at,updated_at
0,b072908c-5a2a-407d-9e6b-fdf65ea27d60,8da99756-8e97-466f-925d-47cb052a41d0,May,8,2025-06-16 13:32:01.976239+00:00,None
1,4509d023-ae53-4775-be50-b59cb815f6a5,8da99756-8e97-466f-925d-47cb052a41d0,Adjustment,57,2025-06-16 13:32:01.976239+00:00,None
2,0b78f72a-4cb8-47c7-aa67-6b280b38fb2d,8da99756-8e97-466f-925d-47cb052a41d0,Ambition,30,2025-06-16 13:32:01.976239+00:00,None
3,45237afb-4ad0-44c9-9319-d6bb191ed53c,8da99756-8e97-466f-925d-47cb052a41d0,Sociability,86,2025-06-16 13:32:01.976239+00:00,None
4,92aad1ce-f4ad-4324-b013-33a6aa31f852,8da99756-8e97-466f-925d-47cb052a41d0,Interpersonal Sensitivity,79,2025-06-16 13:32:01.976239+00:00,None

### Table: embedding_documents

,id,employee_id,embedding_run_id,document_type,source_filename,title,document_id,document_origin,created_at,updated_at
0,aefb7412-9f4f-414e-8b4c-0f18cad2dc6e,d41910f3-76f7-4438-8546-8e364bc05bd6,55c31b59-fab6-42fc-a32e-94296b2705de,cv,CV_Antoine_Jones.txt,CV_Antoine_Jones,None,None,2025-06-16 17:32:52.311014+00:00,None
1,98c9734f-08dd-40d8-8e57-ffd6d81da85d,dc2a8562-2983-44cf-9a45-1bd16eee1883,55c31b59-fab6-42fc-a32e-94296b2705de,cv,CV_Ashley_Davis.txt,CV_Ashley_Davis,None,None,2025-06-16 17:32:54.855337+00:00,None
2,5d2e6e14-f3d4-4890-9c39-4ca5410efc9a,4b9d974c-7cf1-4b50-8d28-dfa5bd05022f,55c31b59-fab6-42fc-a32e-94296b2705de,assessment,Hogan_Terrell_Davis.txt,Hogan_Terrell_Davis,None,None,2025-06-16 17:32:56.053143+00:00,None
3,417f9cd3-d329-416a-a69a-eef959dc77ea,1bc1b696-6e3c-4118-b1c6-1e62d7469913,55c31b59-fab6-42fc-a32e-94296b2705de,assessment,IDI_Amanda_Miller.txt,IDI_Amanda_Miller,None,None,2025-06-16 17:32:56.629464+00:00,None
4,0747a5a2-3558-4e72-b2a5-95a3cb194887,ffc79468-3307-4c4c-9c69-8d7c2d4e9470,55c31b59-fab6-42fc-a32e-94296b2705de,assessment,Hogan_DeShawn_Brown.txt,Hogan_DeShawn_Brown,None,None,2025-06-16 17:32:57.141661+00:00,None

### Table: embedding_runs

,id,name,chunking_method,embedding_model,run_parameters,created_at,updated_at
0,c399f61d-5578-43dd-9a23-365da847f55f,Run_20250616_172944,cv,text-embedding-3-small,None,2025-06-16 17:29:44.479981+00:00,2025-06-16 17:29:44.479982+00:00
1,55c31b59-fab6-42fc-a32e-94296b2705de,Run_20250616_173252,cv,text-embedding-3-small,None,2025-06-16 17:32:52.285815+00:00,2025-06-16 17:32:52.285815+00:00

### Table: embedding_chunks

,id,document_id,chunk_index,content,embedding,token_count,char_count,chunk_label,score,created_at,updated_at
0,640a18f8-c290-485e-9fcb-ffe6a8a55661,aefb7412-9f4f-414e-8b4c-0f18cad2dc6e,0,Name: Antoine Jones\nEmail: ajones@yahoo.com\n...,"[-0.021413742,-0.007978582,0.020122796,-0.0002...",None,None,None,None,2025-06-16 17:32:52.311014+00:00,None
1,553f48a2-a64f-4b20-9bfc-1f7becea26d2,aefb7412-9f4f-414e-8b4c-0f18cad2dc6e,1,Engineering Intern | Roche\nOct 2015 - Apr 201...,"[-0.027917689,-0.019756937,0.05223392,0.001020...",None,None,None,None,2025-06-16 17:32:52.311014+00:00,None
2,40fdea21-37a2-4280-be97-720c13df3b25,aefb7412-9f4f-414e-8b4c-0f18cad2dc6e,2,Research Assistant | Warner Bros\nApr 2011 - J...,"[0.0011166836,-0.0068522193,0.047682043,-0.016...",None,None,None,None,2025-06-16 17:32:52.311014+00:00,None
3,a38c912f-73d3-4eb9-857c-b23586493be9,aefb7412-9f4f-414e-8b4c-0f18cad2dc6e,3,Sales Associate | Honeywell\nAug 2012 - Feb 20...,"[-0.015957437,-0.02366195,0.025909102,0.012880...",None,None,None,None,2025-06-16 17:32:52.311014+00:00,None
4,8823552e-c6be-4bba-9d80-4b722fc0fc95,98c9734f-08dd-40d8-8e57-ffd6d81da85d,0,Name: Ashley Davis\nEmail: ashley.davis@hotmai...,"[0.01213072,-0.023697218,0.07212197,0.05269319...",None,None,None,None,2025-06-16 17:32:54.855337+00:00,None

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, inspect

# Database connection parameters
DB_HOST     = '127.0.0.1'
DB_PORT     = '5433'        # <-- your Docker host port
DB_NAME     = 'knowthee'
DB_USER     = 'postgres'
DB_PASSWORD = 'postgres'

# Create connection URL and engine
DATABASE_URL = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine = create_engine(DATABASE_URL)

# Inspect database to get table names
inspector = inspect(engine)
tables = inspector.get_table_names()

# Loop through each table and display first 5 rows
for table in tables:
    print(f"\n### Table: {table}")
    df = pd.read_sql(f"SELECT * FROM {table} LIMIT 5;", engine)
    display(df)

### Table: employees

,id,full_name,email,location,current_position,department,created_at,updated_at
0,0212fc7e-893e-4b97-83f2-acf8fd40e083,Aaliyah Anderson,aanderson@yahoo.com,"Jacksonville, FL",,,2025-06-16 13:31:59.576631+00:00,None
1,7f9f3ddc-8e6d-4f5c-88f7-89c0241ef3f0,Aaliyah Williams,aaliyah.williams@gmail.com,"San Antonio, TX",,,2025-06-16 13:31:59.593446+00:00,None
2,d74adf24-b71e-428a-a2c4-90029f345028,Aaliyah Wilson,awilson@outlook.com,"Jacksonville, FL",,,2025-06-16 13:31:59.601521+00:00,None
3,d7721b45-ffad-4c05-98bd-7f8c761fd9c2,Ahmed Al-Ahmad,ahmedal-ahmad@yahoo.com,,,,2025-06-16 13:31:59.614212+00:00,None
4,c0a737fd-f363-430e-8395-7bc94035ca22,Ahmed Farouk,afarouk@gmail.com,"New York, NY",,,2025-06-16 13:31:59.623686+00:00,None

### Table: employee_contacts

,id,employee_id,type,value,is_primary,created_at,updated_at
0,c449c0ba-39b9-4093-bb9e-9b9cba1355b0,0212fc7e-893e-4b97-83f2-acf8fd40e083,email,aanderson@yahoo.com,True,2025-06-16 13:31:59.576631+00:00,None
1,2a7eb906-f018-4102-8e3b-2924f826e9d7,0212fc7e-893e-4b97-83f2-acf8fd40e083,phone,(585) 704-8170,True,2025-06-16 13:31:59.576631+00:00,None
2,2c6df0dc-07f6-4734-be92-52ff8a9b0ec3,7f9f3ddc-8e6d-4f5c-88f7-89c0241ef3f0,email,aaliyah.williams@gmail.com,True,2025-06-16 13:31:59.593446+00:00,None
3,3996a447-8743-4c25-bd2b-6e81de694824,7f9f3ddc-8e6d-4f5c-88f7-89c0241ef3f0,phone,(616) 235-8448,True,2025-06-16 13:31:59.593446+00:00,None
4,87a54661-5837-4122-986f-738e724618c2,7f9f3ddc-8e6d-4f5c-88f7-89c0241ef3f0,linkedin,linkedin.com/in/aaliyah-williams-841,False,2025-06-16 13:31:59.593446+00:00,None

### Table: employee_education

,id,employee_id,degree,field,institution,start_date,end_date,created_at,updated_at
0,605b81e9-6681-4efa-8f33-641b601267fe,0212fc7e-893e-4b97-83f2-acf8fd40e083,,,Princeton University,2020-01-01,None,2025-06-16 13:31:59.576631+00:00,None
1,65df84af-dc6c-40e2-8be0-846f489fe3c4,0212fc7e-893e-4b97-83f2-acf8fd40e083,,,Ohio State University,2016-01-01,None,2025-06-16 13:31:59.576631+00:00,None
2,aebe38bc-2edf-4dd8-bcb3-bb316c4874fb,7f9f3ddc-8e6d-4f5c-88f7-89c0241ef3f0,,,Cornell University,1998-01-01,None,2025-06-16 13:31:59.593446+00:00,None
3,eb06f7b0-a9d7-4e80-8ce0-2e958388f7c7,7f9f3ddc-8e6d-4f5c-88f7-89c0241ef3f0,,,Georgia Institute of Technology,1994-01-01,None,2025-06-16 13:31:59.593446+00:00,None
4,d0f680b5-d35a-4ac0-86c0-865e0764186b,d7721b45-ffad-4c05-98bd-7f8c761fd9c2,,,Princeton University,2019-01-01,None,2025-06-16 13:31:59.614212+00:00,None

### Table: idi_scores

,id,assessment_id,category,dimension,score,created_at,updated_at
0,d439fdd6-a3f5-4099-a47d-d6a8097d99a3,c5f66993-53ac-4b65-b6ce-9c7f4680a2c3,AFFILIATING,Giving,25,2025-06-16 13:32:03.808172+00:00,None
1,4fc3584f-2cca-447d-89db-d12227c9bff8,c5f66993-53ac-4b65-b6ce-9c7f4680a2c3,AFFILIATING,Receiving,40,2025-06-16 13:32:03.808172+00:00,None
2,d42f8ea9-82ed-4c77-b7e6-0c423e05bbbb,c5f66993-53ac-4b65-b6ce-9c7f4680a2c3,AFFILIATING,Belonging,75,2025-06-16 13:32:03.808172+00:00,None
3,67a6dbbb-4df3-4434-8bc8-f946df44e1e0,c5f66993-53ac-4b65-b6ce-9c7f4680a2c3,AFFILIATING,Expressing,50,2025-06-16 13:32:03.808172+00:00,None
4,b24656d2-f4a2-4d44-8bfe-9dcecc9d1434,c5f66993-53ac-4b65-b6ce-9c7f4680a2c3,ATTRACTING,Stature,20,2025-06-16 13:32:03.808172+00:00,None

### Table: employee_experiences

,id,employee_id,title,company,start_date,end_date,description,created_at,updated_at
0,f6169cb8-4a9a-45a6-b2b9-05b6293f155e,0212fc7e-893e-4b97-83f2-acf8fd40e083,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-16 13:31:59.576631+00:00,None
1,f69fda2d-625a-4452-b67c-72695197581b,0212fc7e-893e-4b97-83f2-acf8fd40e083,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-16 13:31:59.576631+00:00,None
2,c75e00bb-3022-4e08-920b-1b769d41c7c3,0212fc7e-893e-4b97-83f2-acf8fd40e083,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-16 13:31:59.576631+00:00,None
3,24462280-724e-446f-8d72-0f2bbbd7b49d,0212fc7e-893e-4b97-83f2-acf8fd40e083,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-16 13:31:59.576631+00:00,None
4,ac5d36d8-3f6a-409a-a82b-f7e0eef3248d,d74adf24-b71e-428a-a2c4-90029f345028,Bookkeeper,Yale University,2022-01-01,None,Performed due diligence for $378K M&A transact...,2025-06-16 13:31:59.601521+00:00,None

### Table: employee_skills

,id,employee_id,skill,type,created_at,updated_at
0,c7e869e1-f822-44f1-afd6-8d9a34e27846,3f5764c5-f8d8-4103-88df-5ea175e29196,Jira,technical,2025-06-16 13:31:59.936924+00:00,None
1,f2b40f17-024d-4de6-ba72-5be117fefca2,3f5764c5-f8d8-4103-88df-5ea175e29196,React,technical,2025-06-16 13:31:59.936924+00:00,None
2,d6a161eb-da6c-4db6-b0a4-ceab84660899,3f5764c5-f8d8-4103-88df-5ea175e29196,SVN,technical,2025-06-16 13:31:59.936924+00:00,None
3,0fc4d8ba-ee5c-4504-b987-c89f80dc9961,3f5764c5-f8d8-4103-88df-5ea175e29196,DynamoDB,technical,2025-06-16 13:31:59.936924+00:00,None
4,79965775-2c58-4c7c-9dc9-d5db134f2c9c,3f5764c5-f8d8-4103-88df-5ea175e29196,Python,technical,2025-06-16 13:31:59.936924+00:00,None

### Table: employee_assessments

,id,employee_id,assessment_type,assessment_date,source_filename,status,notes,created_at,updated_at
0,8da99756-8e97-466f-925d-47cb052a41d0,0212fc7e-893e-4b97-83f2-acf8fd40e083,Hogan,2025-05-08,,active,None,2025-06-16 13:32:01.976239+00:00,None
1,bcd7dfb5-4c65-4963-b4a5-f39410ee1b2f,7f9f3ddc-8e6d-4f5c-88f7-89c0241ef3f0,Hogan,2025-04-12,,active,None,2025-06-16 13:32:01.987229+00:00,None
2,816e9c53-e02e-4907-97a8-0d15096fce97,d74adf24-b71e-428a-a2c4-90029f345028,Hogan,2025-05-19,,active,None,2025-06-16 13:32:01.996084+00:00,None
3,1d09ff16-6669-4e55-b60e-2ca8257487c9,d7721b45-ffad-4c05-98bd-7f8c761fd9c2,Hogan,2025-01-02,,active,None,2025-06-16 13:32:02.004756+00:00,None
4,9b04ec01-f340-4c4d-98ed-b713079bad10,c0a737fd-f363-430e-8395-7bc94035ca22,Hogan,2025-05-15,,active,None,2025-06-16 13:32:02.013538+00:00,None

### Table: hogan_scores

,id,assessment_id,trait,score,created_at,updated_at
0,b072908c-5a2a-407d-9e6b-fdf65ea27d60,8da99756-8e97-466f-925d-47cb052a41d0,May,8,2025-06-16 13:32:01.976239+00:00,None
1,4509d023-ae53-4775-be50-b59cb815f6a5,8da99756-8e97-466f-925d-47cb052a41d0,Adjustment,57,2025-06-16 13:32:01.976239+00:00,None
2,0b78f72a-4cb8-47c7-aa67-6b280b38fb2d,8da99756-8e97-466f-925d-47cb052a41d0,Ambition,30,2025-06-16 13:32:01.976239+00:00,None
3,45237afb-4ad0-44c9-9319-d6bb191ed53c,8da99756-8e97-466f-925d-47cb052a41d0,Sociability,86,2025-06-16 13:32:01.976239+00:00,None
4,92aad1ce-f4ad-4324-b013-33a6aa31f852,8da99756-8e97-466f-925d-47cb052a41d0,Interpersonal Sensitivity,79,2025-06-16 13:32:01.976239+00:00,None

### Table: embedding_documents

,id,employee_id,embedding_run_id,document_type,source_filename,title,document_id,document_origin,created_at,updated_at
0,aefb7412-9f4f-414e-8b4c-0f18cad2dc6e,d41910f3-76f7-4438-8546-8e364bc05bd6,55c31b59-fab6-42fc-a32e-94296b2705de,cv,CV_Antoine_Jones.txt,CV_Antoine_Jones,None,None,2025-06-16 17:32:52.311014+00:00,None
1,98c9734f-08dd-40d8-8e57-ffd6d81da85d,dc2a8562-2983-44cf-9a45-1bd16eee1883,55c31b59-fab6-42fc-a32e-94296b2705de,cv,CV_Ashley_Davis.txt,CV_Ashley_Davis,None,None,2025-06-16 17:32:54.855337+00:00,None
2,5d2e6e14-f3d4-4890-9c39-4ca5410efc9a,4b9d974c-7cf1-4b50-8d28-dfa5bd05022f,55c31b59-fab6-42fc-a32e-94296b2705de,assessment,Hogan_Terrell_Davis.txt,Hogan_Terrell_Davis,None,None,2025-06-16 17:32:56.053143+00:00,None
3,417f9cd3-d329-416a-a69a-eef959dc77ea,1bc1b696-6e3c-4118-b1c6-1e62d7469913,55c31b59-fab6-42fc-a32e-94296b2705de,assessment,IDI_Amanda_Miller.txt,IDI_Amanda_Miller,None,None,2025-06-16 17:32:56.629464+00:00,None
4,0747a5a2-3558-4e72-b2a5-95a3cb194887,ffc79468-3307-4c4c-9c69-8d7c2d4e9470,55c31b59-fab6-42fc-a32e-94296b2705de,assessment,Hogan_DeShawn_Brown.txt,Hogan_DeShawn_Brown,None,None,2025-06-16 17:32:57.141661+00:00,None

### Table: embedding_runs

,id,name,chunking_method,embedding_model,run_parameters,created_at,updated_at
0,c399f61d-5578-43dd-9a23-365da847f55f,Run_20250616_172944,cv,text-embedding-3-small,None,2025-06-16 17:29:44.479981+00:00,2025-06-16 17:29:44.479982+00:00
1,55c31b59-fab6-42fc-a32e-94296b2705de,Run_20250616_173252,cv,text-embedding-3-small,None,2025-06-16 17:32:52.285815+00:00,2025-06-16 17:32:52.285815+00:00

### Table: embedding_chunks

,id,document_id,chunk_index,content,embedding,token_count,char_count,chunk_label,score,created_at,updated_at
0,640a18f8-c290-485e-9fcb-ffe6a8a55661,aefb7412-9f4f-414e-8b4c-0f18cad2dc6e,0,Name: Antoine Jones\nEmail: ajones@yahoo.com\n...,"[-0.021413742,-0.007978582,0.020122796,-0.0002...",None,None,None,None,2025-06-16 17:32:52.311014+00:00,None
1,553f48a2-a64f-4b20-9bfc-1f7becea26d2,aefb7412-9f4f-414e-8b4c-0f18cad2dc6e,1,Engineering Intern | Roche\nOct 2015 - Apr 201...,"[-0.027917689,-0.019756937,0.05223392,0.001020...",None,None,None,None,2025-06-16 17:32:52.311014+00:00,None
2,40fdea21-37a2-4280-be97-720c13df3b25,aefb7412-9f4f-414e-8b4c-0f18cad2dc6e,2,Research Assistant | Warner Bros\nApr 2011 - J...,"[0.0011166836,-0.0068522193,0.047682043,-0.016...",None,None,None,None,2025-06-16 17:32:52.311014+00:00,None
3,a38c912f-73d3-4eb9-857c-b23586493be9,aefb7412-9f4f-414e-8b4c-0f18cad2dc6e,3,Sales Associate | Honeywell\nAug 2012 - Feb 20...,"[-0.015957437,-0.02366195,0.025909102,0.012880...",None,None,None,None,2025-06-16 17:32:52.311014+00:00,None
4,8823552e-c6be-4bba-9d80-4b722fc0fc95,98c9734f-08dd-40d8-8e57-ffd6d81da85d,0,Name: Ashley Davis\nEmail: ashley.davis@hotmai...,"[0.01213072,-0.023697218,0.07212197,0.05269319...",None,None,None,None,2025-06-16 17:32:54.855337+00:00,None

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, inspect

# Database connection parameters
DB_HOST     = '127.0.0.1'
DB_PORT     = '5433'        # <-- your Docker host port
DB_NAME     = 'knowthee'
DB_USER     = 'postgres'
DB_PASSWORD = 'postgres'

# Create connection URL and engine
DATABASE_URL = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine = create_engine(DATABASE_URL)

# Inspect database to get table names
inspector = inspect(engine)
tables = inspector.get_table_names()

# Loop through each table and display first 5 rows
for table in tables:
    print(f"\n### Table: {table}")
    df = pd.read_sql(f"SELECT * FROM {table} LIMIT 5;", engine)
    display(df)

### Table: employees

,id,full_name,email,location,current_position,department,created_at,updated_at
0,0212fc7e-893e-4b97-83f2-acf8fd40e083,Aaliyah Anderson,aanderson@yahoo.com,"Jacksonville, FL",,,2025-06-16 13:31:59.576631+00:00,None
1,7f9f3ddc-8e6d-4f5c-88f7-89c0241ef3f0,Aaliyah Williams,aaliyah.williams@gmail.com,"San Antonio, TX",,,2025-06-16 13:31:59.593446+00:00,None
2,d74adf24-b71e-428a-a2c4-90029f345028,Aaliyah Wilson,awilson@outlook.com,"Jacksonville, FL",,,2025-06-16 13:31:59.601521+00:00,None
3,d7721b45-ffad-4c05-98bd-7f8c761fd9c2,Ahmed Al-Ahmad,ahmedal-ahmad@yahoo.com,,,,2025-06-16 13:31:59.614212+00:00,None
4,c0a737fd-f363-430e-8395-7bc94035ca22,Ahmed Farouk,afarouk@gmail.com,"New York, NY",,,2025-06-16 13:31:59.623686+00:00,None

### Table: employee_contacts

,id,employee_id,type,value,is_primary,created_at,updated_at
0,c449c0ba-39b9-4093-bb9e-9b9cba1355b0,0212fc7e-893e-4b97-83f2-acf8fd40e083,email,aanderson@yahoo.com,True,2025-06-16 13:31:59.576631+00:00,None
1,2a7eb906-f018-4102-8e3b-2924f826e9d7,0212fc7e-893e-4b97-83f2-acf8fd40e083,phone,(585) 704-8170,True,2025-06-16 13:31:59.576631+00:00,None
2,2c6df0dc-07f6-4734-be92-52ff8a9b0ec3,7f9f3ddc-8e6d-4f5c-88f7-89c0241ef3f0,email,aaliyah.williams@gmail.com,True,2025-06-16 13:31:59.593446+00:00,None
3,3996a447-8743-4c25-bd2b-6e81de694824,7f9f3ddc-8e6d-4f5c-88f7-89c0241ef3f0,phone,(616) 235-8448,True,2025-06-16 13:31:59.593446+00:00,None
4,87a54661-5837-4122-986f-738e724618c2,7f9f3ddc-8e6d-4f5c-88f7-89c0241ef3f0,linkedin,linkedin.com/in/aaliyah-williams-841,False,2025-06-16 13:31:59.593446+00:00,None

### Table: employee_education

,id,employee_id,degree,field,institution,start_date,end_date,created_at,updated_at
0,605b81e9-6681-4efa-8f33-641b601267fe,0212fc7e-893e-4b97-83f2-acf8fd40e083,,,Princeton University,2020-01-01,None,2025-06-16 13:31:59.576631+00:00,None
1,65df84af-dc6c-40e2-8be0-846f489fe3c4,0212fc7e-893e-4b97-83f2-acf8fd40e083,,,Ohio State University,2016-01-01,None,2025-06-16 13:31:59.576631+00:00,None
2,aebe38bc-2edf-4dd8-bcb3-bb316c4874fb,7f9f3ddc-8e6d-4f5c-88f7-89c0241ef3f0,,,Cornell University,1998-01-01,None,2025-06-16 13:31:59.593446+00:00,None
3,eb06f7b0-a9d7-4e80-8ce0-2e958388f7c7,7f9f3ddc-8e6d-4f5c-88f7-89c0241ef3f0,,,Georgia Institute of Technology,1994-01-01,None,2025-06-16 13:31:59.593446+00:00,None
4,d0f680b5-d35a-4ac0-86c0-865e0764186b,d7721b45-ffad-4c05-98bd-7f8c761fd9c2,,,Princeton University,2019-01-01,None,2025-06-16 13:31:59.614212+00:00,None

### Table: idi_scores

,id,assessment_id,category,dimension,score,created_at,updated_at
0,d439fdd6-a3f5-4099-a47d-d6a8097d99a3,c5f66993-53ac-4b65-b6ce-9c7f4680a2c3,AFFILIATING,Giving,25,2025-06-16 13:32:03.808172+00:00,None
1,4fc3584f-2cca-447d-89db-d12227c9bff8,c5f66993-53ac-4b65-b6ce-9c7f4680a2c3,AFFILIATING,Receiving,40,2025-06-16 13:32:03.808172+00:00,None
2,d42f8ea9-82ed-4c77-b7e6-0c423e05bbbb,c5f66993-53ac-4b65-b6ce-9c7f4680a2c3,AFFILIATING,Belonging,75,2025-06-16 13:32:03.808172+00:00,None
3,67a6dbbb-4df3-4434-8bc8-f946df44e1e0,c5f66993-53ac-4b65-b6ce-9c7f4680a2c3,AFFILIATING,Expressing,50,2025-06-16 13:32:03.808172+00:00,None
4,b24656d2-f4a2-4d44-8bfe-9dcecc9d1434,c5f66993-53ac-4b65-b6ce-9c7f4680a2c3,ATTRACTING,Stature,20,2025-06-16 13:32:03.808172+00:00,None

### Table: employee_experiences

,id,employee_id,title,company,start_date,end_date,description,created_at,updated_at
0,f6169cb8-4a9a-45a6-b2b9-05b6293f155e,0212fc7e-893e-4b97-83f2-acf8fd40e083,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-16 13:31:59.576631+00:00,None
1,f69fda2d-625a-4452-b67c-72695197581b,0212fc7e-893e-4b97-83f2-acf8fd40e083,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-16 13:31:59.576631+00:00,None
2,c75e00bb-3022-4e08-920b-1b769d41c7c3,0212fc7e-893e-4b97-83f2-acf8fd40e083,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-16 13:31:59.576631+00:00,None
3,24462280-724e-446f-8d72-0f2bbbd7b49d,0212fc7e-893e-4b97-83f2-acf8fd40e083,Recruiter,Deloitte,2025-01-01,None,Recruited 148 candidates with 26% retention ra...,2025-06-16 13:31:59.576631+00:00,None
4,ac5d36d8-3f6a-409a-a82b-f7e0eef3248d,d74adf24-b71e-428a-a2c4-90029f345028,Bookkeeper,Yale University,2022-01-01,None,Performed due diligence for $378K M&A transact...,2025-06-16 13:31:59.601521+00:00,None

### Table: employee_skills

,id,employee_id,skill,type,created_at,updated_at
0,c7e869e1-f822-44f1-afd6-8d9a34e27846,3f5764c5-f8d8-4103-88df-5ea175e29196,Jira,technical,2025-06-16 13:31:59.936924+00:00,None
1,f2b40f17-024d-4de6-ba72-5be117fefca2,3f5764c5-f8d8-4103-88df-5ea175e29196,React,technical,2025-06-16 13:31:59.936924+00:00,None
2,d6a161eb-da6c-4db6-b0a4-ceab84660899,3f5764c5-f8d8-4103-88df-5ea175e29196,SVN,technical,2025-06-16 13:31:59.936924+00:00,None
3,0fc4d8ba-ee5c-4504-b987-c89f80dc9961,3f5764c5-f8d8-4103-88df-5ea175e29196,DynamoDB,technical,2025-06-16 13:31:59.936924+00:00,None
4,79965775-2c58-4c7c-9dc9-d5db134f2c9c,3f5764c5-f8d8-4103-88df-5ea175e29196,Python,technical,2025-06-16 13:31:59.936924+00:00,None

### Table: employee_assessments

,id,employee_id,assessment_type,assessment_date,source_filename,status,notes,created_at,updated_at
0,8da99756-8e97-466f-925d-47cb052a41d0,0212fc7e-893e-4b97-83f2-acf8fd40e083,Hogan,2025-05-08,,active,None,2025-06-16 13:32:01.976239+00:00,None
1,bcd7dfb5-4c65-4963-b4a5-f39410ee1b2f,7f9f3ddc-8e6d-4f5c-88f7-89c0241ef3f0,Hogan,2025-04-12,,active,None,2025-06-16 13:32:01.987229+00:00,None
2,816e9c53-e02e-4907-97a8-0d15096fce97,d74adf24-b71e-428a-a2c4-90029f345028,Hogan,2025-05-19,,active,None,2025-06-16 13:32:01.996084+00:00,None
3,1d09ff16-6669-4e55-b60e-2ca8257487c9,d7721b45-ffad-4c05-98bd-7f8c761fd9c2,Hogan,2025-01-02,,active,None,2025-06-16 13:32:02.004756+00:00,None
4,9b04ec01-f340-4c4d-98ed-b713079bad10,c0a737fd-f363-430e-8395-7bc94035ca22,Hogan,2025-05-15,,active,None,2025-06-16 13:32:02.013538+00:00,None

### Table: hogan_scores

,id,assessment_id,trait,score,created_at,updated_at
0,b072908c-5a2a-407d-9e6b-fdf65ea27d60,8da99756-8e97-466f-925d-47cb052a41d0,May,8,2025-06-16 13:32:01.976239+00:00,None
1,4509d023-ae53-4775-be50-b59cb815f6a5,8da99756-8e97-466f-925d-47cb052a41d0,Adjustment,57,2025-06-16 13:32:01.976239+00:00,None
2,0b78f72a-4cb8-47c7-aa67-6b280b38fb2d,8da99756-8e97-466f-925d-47cb052a41d0,Ambition,30,2025-06-16 13:32:01.976239+00:00,None
3,45237afb-4ad0-44c9-9319-d6bb191ed53c,8da99756-8e97-466f-925d-47cb052a41d0,Sociability,86,2025-06-16 13:32:01.976239+00:00,None
4,92aad1ce-f4ad-4324-b013-33a6aa31f852,8da99756-8e97-466f-925d-47cb052a41d0,Interpersonal Sensitivity,79,2025-06-16 13:32:01.976239+00:00,None

### Table: embedding_documents

,id,employee_id,embedding_run_id,document_type,source_filename,title,document_id,document_origin,created_at,updated_at
0,aefb7412-9f4f-414e-8b4c-0f18cad2dc6e,d41910f3-76f7-4438-8546-8e364bc05bd6,55c31b59-fab6-42fc-a32e-94296b2705de,cv,CV_Antoine_Jones.txt,CV_Antoine_Jones,None,None,2025-06-16 17:32:52.311014+00:00,None
1,98c9734f-08dd-40d8-8e57-ffd6d81da85d,dc2a8562-2983-44cf-9a45-1bd16eee1883,55c31b59-fab6-42fc-a32e-94296b2705de,cv,CV_Ashley_Davis.txt,CV_Ashley_Davis,None,None,2025-06-16 17:32:54.855337+00:00,None
2,5d2e6e14-f3d4-4890-9c39-4ca5410efc9a,4b9d974c-7cf1-4b50-8d28-dfa5bd05022f,55c31b59-fab6-42fc-a32e-94296b2705de,assessment,Hogan_Terrell_Davis.txt,Hogan_Terrell_Davis,None,None,2025-06-16 17:32:56.053143+00:00,None
3,417f9cd3-d329-416a-a69a-eef959dc77ea,1bc1b696-6e3c-4118-b1c6-1e62d7469913,55c31b59-fab6-42fc-a32e-94296b2705de,assessment,IDI_Amanda_Miller.txt,IDI_Amanda_Miller,None,None,2025-06-16 17:32:56.629464+00:00,None
4,0747a5a2-3558-4e72-b2a5-95a3cb194887,ffc79468-3307-4c4c-9c69-8d7c2d4e9470,55c31b59-fab6-42fc-a32e-94296b2705de,assessment,Hogan_DeShawn_Brown.txt,Hogan_DeShawn_Brown,None,None,2025-06-16 17:32:57.141661+00:00,None

### Table: embedding_runs

,id,name,chunking_method,embedding_model,run_parameters,created_at,updated_at
0,c399f61d-5578-43dd-9a23-365da847f55f,Run_20250616_172944,cv,text-embedding-3-small,None,2025-06-16 17:29:44.479981+00:00,2025-06-16 17:29:44.479982+00:00
1,55c31b59-fab6-42fc-a32e-94296b2705de,Run_20250616_173252,cv,text-embedding-3-small,None,2025-06-16 17:32:52.285815+00:00,2025-06-16 17:32:52.285815+00:00

### Table: embedding_chunks

,id,document_id,chunk_index,content,embedding,token_count,char_count,chunk_label,score,created_at,updated_at
0,640a18f8-c290-485e-9fcb-ffe6a8a55661,aefb7412-9f4f-414e-8b4c-0f18cad2dc6e,0,Name: Antoine Jones\nEmail: ajones@yahoo.com\n...,"[-0.021413742,-0.007978582,0.020122796,-0.0002...",None,None,None,None,2025-06-16 17:32:52.311014+00:00,None
1,553f48a2-a64f-4b20-9bfc-1f7becea26d2,aefb7412-9f4f-414e-8b4c-0f18cad2dc6e,1,Engineering Intern | Roche\nOct 2015 - Apr 201...,"[-0.027917689,-0.019756937,0.05223392,0.001020...",None,None,None,None,2025-06-16 17:32:52.311014+00:00,None
2,40fdea21-37a2-4280-be97-720c13df3b25,aefb7412-9f4f-414e-8b4c-0f18cad2dc6e,2,Research Assistant | Warner Bros\nApr 2011 - J...,"[0.0011166836,-0.0068522193,0.047682043,-0.016...",None,None,None,None,2025-06-16 17:32:52.311014+00:00,None
3,a38c912f-73d3-4eb9-857c-b23586493be9,aefb7412-9f4f-414e-8b4c-0f18cad2dc6e,3,Sales Associate | Honeywell\nAug 2012 - Feb 20...,"[-0.015957437,-0.02366195,0.025909102,0.012880...",None,None,None,None,2025-06-16 17:32:52.311014+00:00,None
4,8823552e-c6be-4bba-9d80-4b722fc0fc95,98c9734f-08dd-40d8-8e57-ffd6d81da85d,0,Name: Ashley Davis\nEmail: ashley.davis@hotmai...,"[0.01213072,-0.023697218,0.07212197,0.05269319...",None,None,None,None,2025-06-16 17:32:54.855337+00:00,None